<div class="has-bottom-actions margin-right-fifteen padding-bottom-thirty">
    <div id="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="#/categoryHome">Categories</a></li>
            <li>{{ContentCategory.item.data.name || ContentCategory.title}}
            </li>
        </ol>
    </div>
    <h1>{{ContentCategory.title}}</h1>
    <p class="info-note margin-bottom-ten">Organize and filter your media by categories.</p>
    <div class="row flex margin-top-thirty ">
        <div class="col-md-3">
            <span>Category Icon</span>
        </div>
        <div class="col-md-9 main ">
            <div class="screens clearfix margin-bottom-five">
                <div class="screen logoicon pull-left">
                    <a class="border-grey border-radius-three default-background-hover"
                        style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;"
                        ng-click="ContentCategory.addIcon()">
                        <span ng-if="!ContentCategory.item.data.icon" class="add-icon"
                            style="height: 82px; margin: -8px;">+</span>
                        <img class="categoryScreenIcon" load-image="1x1" aspect="1:1" size="xxs" crop-type="crop"
                            ng-if="ContentCategory.item.data.icon && !ContentCategory.isIcon()"
                            data-final-src="{{ContentCategory.item.data.icon }}">
                        <div style="color:#5f5f5f" ng-if="ContentCategory.item.data.icon && ContentCategory.isIcon()"
                            ng-class="ContentCategory.item.data.icon">
                        </div>
                    </a>
                    <span ng-if="ContentCategory.item.data.icon"
                        class="icon btn-delete-icon btn-danger transition-third"
                        ng-click="ContentCategory.removeIcon()"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="item clearfix row margin-bottom-thirty" id="titleInput">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Category Name <span class="required">*</span></span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="ContentCategory.item.data.name" maxlength="70"
                ng-class="{'border-danger': titleRequired}" />
            <div class="text-left text-danger margin-top-five text-small" ng-show="titleRequired">
                Required
            </div>
        </div>
    </div>

    <div class="margin-bottom-thirty">
        <div id="subCategoriesList"></div>
        <div class="empty-state margin-bottom-fifteen hidden" id='categoriesEmptyState'>
            <h5>You haven't added anything yet</h5>
        </div>
    </div>

    <div class="bottom-actions">
        <a class="btn btn-default btn-outlined margin-right-ten" style="border: 1px solid #ddd;"
            ng-disabled="ContentCategory.saving" ng-click="ContentCategory.done()" href="javaScript:void(0);">Cancel</a>
        <a class="btn btn-success margin-right-ten" ng-click="ContentCategory.updateItem()"
            ng-disabled="ContentCategory.saving" href="javaScript:void(0);">{{ContentCategory.saving ? 'Saving...' :
            'Save'}}</a>
    </div>
</div>