<div class="loader-pan" ng-show="ContentHome.loading"></div>
<div class="margin-bottom-thirty" id="carousel"></div>

<div class="margin-bottom-thirty">
    <textarea class="form-control wysiwyg" placeholder="WYSIWYG" ui-tinymce="ContentHome.bodyWYSIWYGOptions"
                ng-model="ContentHome.info.data.content.descriptionHTML"></textarea>
</div>

<div class="item clearfix row margin-top-thirty" data-ng-show="ContentHome.csvDataInvalid">
    <div class="labels col-md-12">
        <div class="alert alert-warning">
            <a href="javascript:void(0)" class="close" data-ng-click="ContentHome.csvDataInvalid=false">×</a>
            <strong>Note!</strong>Uploaded CSV data is incomplete.Title/Summary is required.
        </div>
    </div>
</div>

<h1>Add Media Content</h1>
<div class="search-bar-container margin-bottom-thirty">
    <div class="search-bar">
        <input type="text" class="form-control" placeholder="Search Item Name" ng-model="search" ng-keyup="ContentHome.onEnterKey($event)">
        <a class="btn btn-info" ng-click="ContentHome.searchListItem(search)"><span class="search-icon"></span></a>
    </div>
</div>

<div class="item clearfix flex margin-bottom-ten">
    <div class="dropdown" dropdown is-open="status.isopen">
        <button class="btn btn-default text-left dropdown-toggle sort-dropdown" dropdown-toggle ng-disabled="disabled"
                aria-expanded="true">
            <span class="pull-left">{{ContentHome.info.data.content.sortByValue || 'Newest'}}</span>
            <span class="chevron icon-chevron-down pull-right"></span>
        </button>
        <ul class="dropdown-menu extended" role="menu">
            <li ng-repeat="option in ContentHome.sortOptions" ng-click="ContentHome.toggleSortOrder(option.name)">
                <a tabindex="-1" class="transition-third">{{option.value}}</a>
            </li>
        </ul>
    </div>
    <div class="dropdown flex-left-auto margin-right-ten" dropdown>
        <button class="btn btn-default text-left dropdown-toggle"
                data-toggle="dropdown" dropdown-toggle aria-expanded="true">
          <span class="pull-left">Bulk Actions</span>
          <span class="chevron icon-chevron-down pull-right"></span>
        </button>
        <ul class="dropdown-menu extended" role="menu">
          <li ng-click="ContentHome.openImportCSVDialog()"><a>Import CSV</a></li>
          <li ng-click="ContentHome.exportCSV()"><a>Export CSV</a></li>
          <li class="margin-bottom-ten" ng-click="ContentHome.getTemplate()"><a>Get Template</a></li>
          <li><p class="info-note caption margin-bottom-zero">Safari users need to rename the file to .csv to open the file.</p></li>
        </ul>
    </div>
    <div class="col-md-3 padding-zero">
        <a class="btn btn-success pull-right stretch btn-add" href="#/media">Add Media Item</a>
    </div>
</div>

<div class="item clearfix">
    <div class="tab-order draggable-list-view wide-list has-btn-link border-grey border-radius-four infinite-scroll-parent">
        <div infinite-scroll="ContentHome.getMore()"
             infinite-scroll-distance="1"
             data-infinite-container=".infinite-scroll-parent"
             infinite-scroll-disabled="ContentHome.noMore">
            <div ui-sortable="ContentHome.itemSortableOptions" ng-model="ContentHome.items">
                <div class="well text-center margin-bottom-zero border-none empty-state" ng-if="ContentHome.items.length < 1 && !ContentHome.isBusy">
                    <p class="margin-zero">No items</p>
                </div>
                <div class="d-item double-line square-icon clearfix" ng-if="ContentHome.items.length"
                     ng-repeat="item in ContentHome.items">
                    <span class="icon icon-menu pull-left cursor-grab"
                          ng-class="{ 'disabled': ContentHome.itemSortableOptions.disabled }"></span>

                    <div class="media-holder pull-left">
                        <img load-image="1x1" data-final-src="{{item.data.topImage | resizeImage : 50:50}}" ng-if="item.data.topImage">
                        <img src="../../../../../styles/media/holder-1x1.png" ng-if="!item.data.topImage">
                    </div>
                    <div class="copy pull-right">
                        <a class="text-primary" ng-click="ContentHome.goTo(item.id)"><span
                                class="title ellipsis pull-left">{{item.data.title}}</span></a>
                        <span class="title ellipsis pull-left">{{item.data.summary}}</span>

                        <div class="pull-right">
                    <span class="btn-icon btn-delete-icon btn-danger transition-third"
                          ng-click="ContentHome.removeListItem($index,$event)"></span>
                        </div>
                    </div>
                </div>
                <div class="well text-center margin-bottom-zero border-none empty-state" ng-if="ContentHome.isBusy">
                    <p class="margin-zero">Loading...</p>
                </div>
            </div>
        </div>
    </div>
</div>