<h4>Manual Item Entry Details Content</h4><br>
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Top Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen carouselicon pull-left text-center">
                <a class="border-grey border-radius-three default-background-hover"
                   ng-click="ContentMedia.selectTopImage()">
                    <span class="add-icon hidden">+</span>
                    <img ng-show="ContentMedia.item.data.topImage"
                         ng-src="{{ContentMedia.item.data.topImage | resizeImage : 82:110}}">
                </a>
                <span class="icon btn-delete-icon btn-danger transition-third"
                      ng-click="ContentMedia.removeTopImage()"></span>
                <label class="secondary">1024x1024</label>
            </div>
        </div>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Title</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" placeholder="Item Title" ng-model="ContentMedia.item.data.title">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Deep Link URL</span>
    </div>
    <div class="main col-md-9 pull-right">
        <span>{{ContentMedia.item.data.deepLinkUrl}}</span>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Summary</span>
    </div>
    <div class="main col-md-9 pull-right">
        <textarea class="form-control" placeholder="Summary Text" ng-model="ContentMedia.item.data.summary"></textarea>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Body Content</span>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="main col-md-12 pull-right">
        <textarea class="form-control" placeholder="WYSIWYG" ui-tinymce="ContentMedia.bodyContentWYSIWYGOptions"
                  ng-model="ContentMedia.item.data.body"></textarea>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Source URL</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" placeholder="Source URL" ng-model="ContentMedia.item.data.srcUrl">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Video URL</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" video-url placeholder="Video URL"
               ng-model="ContentMedia.item.data.videoUrl">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Audio Title</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" placeholder="Audio Title" ng-model="ContentMedia.item.data.audioTitle">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Album Artists</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" placeholder="Album Artists" ng-model="ContentMedia.item.data.artists">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Audio URL</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" placeholder="Audio URL" ng-model="ContentMedia.item.data.audioUrl">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Audio Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen pull-left text-center">
                <a class="border-grey border-radius-three default-background-hover"
                   ng-click="ContentMedia.selectAudioImage()">
                    <span class="add-icon hidden">+</span>
                    <img ng-show="ContentMedia.item.data.image"
                         ng-src="{{ContentMedia.item.data.image | resizeImage : 82:110}}">
                </a>
                <span ng-show="ContentMedia.item.data.image" class="icon btn-delete-icon btn-danger transition-third"
                      ng-click="ContentMedia.removeAudioImage()"></span>
                <label class="secondary">1024x1024</label>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Media Date</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input dt="{{ContentMedia.item.data.mediaDate}}" type="date" class="form-control" ng-model="ContentMedia.item.data.mediaDate" />
    </div>
</div>
<hr>
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Links</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="col-md-4 row">
            <a class="btn btn-success stretch" ng-click="ContentMedia.openAddLinkPopup()">Add Link</a>
        </div>
    </div>
</div>
<hr class="none">
<div class="item clearfix">
    <div class="draggable-list-view wide-list has-btn links-list" ui-sortable="ContentMedia.linksSortableOptions"
         ng-model="ContentMedia.item.data.links">
        <div class="d-item double-line square-icon clearfix" ng-repeat="link in ContentMedia.item.data.links">
            <span class="icon icon-menu pull-left handle"></span>

            <div class="media-holder pull-left">
                <img src="http://www.placehold.it/50x50">
            </div>
            <div class="copy pull-right">
                <div class="col-md-4 padding-zero pull-left">
                    <a class="text-primary" ng-click="ContentMedia.openEditLinkPopup(link,$index)"><span
                            class="title ellipsis pull-left">{{link.title}}</span></a>
                    <!--<span class="title ellipsis pull-left">Item Summary Item Summary Item Summary</span>-->
                </div>
                <!--<div class="col-md-7 padding-right-zero pull-left">
                    <span class="content ellipsis">http://www.thelinkgoeshereandifitslongitwillwraparound</span>
                </div>-->
                <span class="btn-icon btn-delete-icon btn-danger transition-third pull-right"
                      ng-click="ContentMedia.removeLink($index)"></span>
            </div>
        </div>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="main col-md-9 pull-right">
        <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
            <a class="btn btn-primary pull-right stretch" ng-click="ContentMedia.done()"
               href="javaScript:void(0);">Done</a>
        </div>
    </div>
</div>