body {
    position: relative;
}

body.modal-open {
    overflow: hidden !important;
  }

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.edit_cell {
    width: 15px;
    cursor: pointer;
}
#scroll-infinite{
    overflow-y: auto;
    max-height: 245px;
}
/*
Style for loader
*/

.loader-pan {
    position: fixed;
    width: 110px;
    height: 110px;
    margin: auto;
    background: url("../images/loading.gif") no-repeat center center #fff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 1001;
    border-radius: 50%;
    left:0; right: 0; top: 0; bottom: 0;
}
.item .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.content-home-container {
    display: flex;
    flex-direction: row;
}

.side-menu-container {
    flex: 1;
}

.side-menu {
    position: fixed;
}

.side-menu > a {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    min-width: 100%;
    border: 1px solid var(--c-gray3);
    border-radius: 0.25rem;
    display: block;
    color: var(--c-gray3);;
}

.side-menu > a.active {
    border: 1px solid #00a1f1;
    color: #00a1f1;
}

/*
.infinite-scroll-parent{
    height:1400px !important;
}

.no-max-height{
    max-height: none !important;
}*/

.modal-header {
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    background: #eef0f0;
}

.modal-footer {
    border-top: 1px solid rgba(50, 50, 50, 0.5);
}

.modal-dialog .modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

#subcategoryModal .modal-dialog {
    max-width: initial;
}

#subcategoryModal .modal-body {
    padding: 20px 15px 10px;
}

#subcategoryModal .modal-footer {
    border-top: none;
    display: flex;
    flex-direction: row-reverse;
}

#subcategoryModal .modal-footer button {
    padding: 8px 30px;
}

#subcategoryModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: block;
    opacity: 1;
}

#subcategoryModal .modal-dialog {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    max-width: 30rem;
}

.plus {
    display:inline-block;
    width:30px;
    height:30px;
    
    background:
      linear-gradient(#14cb5d 0 0),
      linear-gradient(#14cb5d 0 0),
      #eef0f0;
    background-position:center;
    background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    cursor: pointer;
  }

  .x {
    border-radius: 50%;
    padding: 0.5em;
    width: 20px;
    height: 20px;
    border: 2px solid var(--bf-theme-danger);
    color: white;
    position: relative;
    background-color:var(--bf-theme-danger);
    opacity: 0;
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
  }
  .x:hover {
    opacity: 1;
  }
  
  .x::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: white;
    width: 2px;
    left: 10px;
    top: -15px;
    bottom: -8px;
    transform: rotate(45deg);
  }
 .x::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: white;
    height: 2px;
    top:7px;
    left: -3px;
    right: -2px;
    transform: rotate(45deg);
  }

 .category-container {
    flex: 1;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 0.25rem 0 0 0.25rem;
 }

 .category-container .top-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
 }

    .category-container .top-row .category-name {
        font-size: 0.9rem;
        color: black;
        margin: 0;
    }

    .category-container .top-row .category-description {
        font-size: 0.7rem;
        color: lightgray;
        font-weight: lighter;
        margin-top: 5px;
    }

    .category-container .top-row .toggle-wrapper {
        margin-left: auto;
    }

    .category-container .subcategories-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        /* transition: all .5s ease-in-out;
        transform-origin: left top;
        transform: scaleY(1); */
    }

    .category-container .subcategories-container .subcategory {
        display: flex;
        width: 50%;
        margin-top: 10px;
    }

    .category-container .subcategories-container .subcategory .subcategory-name {
        font-size: 0.7rem;
        color: #909090;
        margin: gray;
        margin-left: 5px;
    }

    .button-switch{
        display: flex;
        align-items: center;
        height: 2.5rem;
      }
      
      .button-switch > label {
        cursor: pointer;
        height: 0;
        position: relative;
        width: 40px;
        text-align: left;
      }
      
      .button-switch > label::before {
        background: #909090;
        border-radius: 18px;
        content: "";
        height: 27px;
        margin-top: -13.5px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 46px;
      }
      
      .button-switch > label::after {
        background: var(--c-white);
        border-radius: 16px;
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        content: "";
        height: 24px;
        left: 0;
        margin-top: -9px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
      }
      
      .button-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
      }
      
      .button-switch > input[type="checkbox"] {
        display: none;
        margin: 4px 0 0;
      }
      
      .button-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 23px;
      }
      
      .button-switch.switch-sm > label::before {
        background: #909090;
        border-radius: 18px;
        content: "";
        height: 1.5rem;
        margin-top: 0;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 3rem;
      }
      
      .button-switch.switch-sm > label::after {
        background: var(--c-white);
        border-radius: 16px;
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        content: "";
        left: 0;
        margin-top: 0;
        position: absolute;
        top: -12px;
        transition: all 0.3s ease-in-out;
        height: 1.5rem;
        width: 1.5rem;
      }
      
      .button-switch.switch-sm > label{
        display: flex;
        align-items: center;
        width: 2rem;
      }

      #actionItems .btn-success {
          width: 10rem !important;
      }

        #actionItems .clearfix::after {
            clear: none !important;
        }

        #actionItems .clearfix a {
            float: right !important;
        }

        #categories {
            background-color: var(--c-gray2);
            padding: 10px;
            border-radius: 5px;
        }

        #categories h2 {
            margin-bottom: 0.25rem;
            font-size: 1rem;
            font-weight: bold;
        }
