.dialog-component {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 1010;
    /* padding: 1em; */
}

.dialog-component.activeFull {
    display: block;
    height: 100%;
    width: 100%;
}

.dialog-body{
    max-height: calc(100vh - 300px);
    overflow: auto;
}

#dialogBackdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffffaa;
    width: 100vw;
    display: block;
    height: 100vh;
    z-index: 1000;
}

.dialog-component.activeDialog {
    display: block;
    width: 70%;
    left: 15%;
    top: 20%;
    box-shadow: rgb(206, 204, 204) 5px 5px 15px;
}

.dialog-component.activeDialog.delete-board-dialog {
    top: 30%;
}

.dialog-component >.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 11px 15px; */
    background: #eef0f0;
    position: relative;
    font-size: 15px;
}

.dialog-header h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    -webkit-text-stroke: 0;
}

.dialog-header-text {
    color: var(--c-gray5);
}

.dialog-header span.close-modal {
    color: #5f5f5f;
    font-size: 20px;
}

.dialog-component >.dialog-footer {
    text-align: right;
    border-top: 1px solid #ddd !important;
    gap: 10px;
}

.dialog-footer button {
    width: 96px;
    padding: 7px 16px;
}

.input-group-append {
    margin-top: 0.3rem;
    color: #929292;
}

.padded {
    padding: 16px;
}

.dialog-empty-state {
    max-height: 10rem;
    min-height: unset;
}