:root {
    --played-tracker-percentage: 0%;
}

/* Global Styles ////////////////////////////////////////////////////////////////////////////// */
html {
    font-size: 16px !important;
}

.slide.safe-area {
    padding-top: env(safe-area-inset-top) !important;
}

.caption {
    font-size: 0.75rem;
    line-height: 1.25rem;
    opacity: 0.5;
}
.main-header {
    box-shadow: 0 2px 4px rgba(98, 98, 98, 0.3);
    padding: 1rem;
}
h5 {
    font-size: 1rem !important;
    font-weight: bold;
}
.list-layout {
    padding: 1rem 0;
    padding-top: 0;
}

.first-layout .media-center-banner {
    padding: 15px 15px 0 15px;
}

.first-layout .media-title {
    color: var(--bf-theme-header-text);
    font-weight: 500;
    line-height: 24px;
}

.first-layout .media-center-banner .plugin-slider {
    border-radius: 4px;
    overflow: hidden;
}

.second-layout .media-title {
    font-weight: 500;
    line-height: 24px;
    font-size: 16px !important;
}

.second-layout .people-info .media-summary {
    font-weight: 500;
    line-height: 20px;
    font-size: 14px !important;
}

.media-action-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 8px;
    flex: 1;
}

.media-action-icons .glyphicon {
    font-size: 18px;
}

.second-layout .media-action-icons {
    margin: 0;
}

.first-layout .media-center-banner .plugin-slider img {
    width: 100% !important;
    object-fit: cover;
}

.media-action-icons path,
.media-action-icons .material-icons,
.media-action-icons .material-icons-outlined,
.media-action-icons .material-icons-outlined {
    fill: var(--bf-theme-icons);
    color: var(--bf-theme-icons);
    cursor: pointer;
    font-size: 22px;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined' !important;
}

.first-layout .count-container {
    min-width: fit-content;
    font-size: 12px;
    color: var(--bf-theme-body-text);
}

#listLayout2::after,
#listLayout2::before {
    border-top: none !important ;
}

.list-item {
    cursor: pointer;
}
.list-item:hover {
    background-color: rgba(150, 150, 150, 0.05);
}
.btn-icon,
.btn-icon.glyphicon {
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    font-size: 1.125rem;
    cursor: pointer;
}
.btn-icon.glyphicon::before {
    position: relative;
    top: 1px;
    left: 1px;
}
.btn-icon:hover {
    background-color: rgba(150, 150, 150, 0.05);
}
.load-in {
    transform: scale(0.1);
    opacity: 0;
    animation: load-in 0.2s ease-in 0.5s forwards;
}
@keyframes load-in {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.bottom.fixed-bottom.primaryBackgroundTheme {
    padding-bottom: env(safe-area-inset-bottom);
}

.word-break {
    word-break: break-word;
}
.first-layout .item-main-header {
    box-shadow: 0 4px 6px -4px #00000040;
}
/* End Global Styles ////////////////////////////////////////////////////////////////////////////// */

.audio-player {
    overflow: hidden !important;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000de;
}

.holder.now-playing .media-center-plugin {
    position: relative;
    height: 100%;
    padding-bottom: calc(20px + env(safe-area-inset-bottom));
    max-width: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media-header-link {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.media-header-link .btn.btn-icon {
    margin-left: auto;
}

.btn.btn-icon {
    background-color: transparent;
    border: 0;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 20px;
    padding: 0;
}

.holder.now-playing .media-holder,
.more-info .media-holder {
    display: table;
    text-align: center;
    width: 280px;
    height: 280px;
    max-width: 280px;
    max-height: 280px;
    margin: 0 auto;
    padding-top: 24px;
}

.third-layout .title-flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third-layout .title-flex-box .li-actions-item .star {
    position: relative;
    line-height: 1;
    margin-right: 0;
}

.third-layout .title-flex-box .li-actions-item .share {
    right: 10px;
    top: 1px;
}

.third-layout.list-3 .title-flex-box .li-actions-item i {
    margin-left: 10px;
}

.third-layout.list-3 .title-flex-box .action {
    margin-left: 15px;
}

.third-layout.list-3 .title-flex-box .li-actions-item {
    display: flex;
}

.third-layout.list-3 .list-item-media {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.third-layout.list-3 .list-item-media .list-media-holder {
    flex-shrink: 0;
}
.third-layout.list-3 .list-item-media .li-actions-item {
    position: relative;
}
.third-layout.list-3 .list-item-media .list-media-holder .li-actions-item {
    position: absolute;
}
.third-layout.list-3 .li-actions-item .star {
    margin-right: 0;
    padding: 0.25rem !important;
}
.third-layout.list-3 .list-layout .list-item-media .list-media-holder {
    margin: 0.25rem;
    margin-right: 0;
}



.holder.now-playing .media-holder .media-inner,
.more-info .media-holder .media-inner {
    display: table;
    vertical-align: middle;
}

.holder.now-playing .media-holder .media-inner img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    width: 280px;
    height: 280px;
    object-fit: cover;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.btn.btn-icon,
.holder.now-playing .media-player-info {
    padding: 24px 0 4px;
    justify-content: center;
}

.media-player-btns {
    padding: 24px 0;
    justify-content: space-between;
}

.holder.now-playing .media-player-info,
.media-header-link,
.media-player-btns,
.slider {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.holder.now-playing .media-player-info,
.media-player-btns {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.holder.now-playing .media-player-action-btns span,
.holder.now-playing .media-player-btns span,
.holder.now-playing .media-player-info span {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 48px;
    border-radius: 50%;
    height: 48px;
    cursor: pointer;
}
.holder.now-playing .media-player-action-btns span.playback-speed {
    font-size: 16px;
    padding-top: 5px;
    font-weight: 500;
}
.holder.now-playing .media-player-action-btns img.playList-icon{
    filter: drop-shadow(0px 0px 0 #fff) !important;
}
.holder.now-playing .media-player-btns span {
    width: 64px;
    height: 64px;
}

.holder.now-playing .media-player-btns .icon:not(.disabled) .active {
    fill: var(--bf-theme-primary);
}
.holder.now-playing .media-player-btns .icon.disabled path,
.holder.now-playing .media-player-btns .icon .not-active {
    fill: #fff;
}

.btn.btn-icon {
    background-color: transparent;
    border: 0;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 20px;
    padding: 0;
}

.ellipsis {
    display: block;
}

.slider {
    padding: 0 4px;
}


.holder.now-playing .media-player-btns .icon.icon-sm {
    font-size: 22px;
    position: relative;
    color: #999;
}

@media (max-height: 600px) {
    .holder.now-playing .media-player-btns .icon {
        font-size: 32px;
    }
}

.holder.now-playing .media-player-btns span {
    transition: none;
}

.holder.now-playing .media-player-btns .player-btns {
    display: flex;
    align-items: center;
}

.audio-plyer input[type='range'] {
    -webkit-appearance: none;
    height: 32px;
    width: 100%;
    background: unset;
    position: relative;
}

.audio-plyer input[type='range']:focus {
    outline: none;
}

.audio-plyer input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    border-radius: 12px;
    animate: 0.2s;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--bf-theme-primary)),
        color-stop(var(--bf-theme-primary)),
        color-stop(#fff),
        to(white)
    );
    background: -o-linear-gradient(
        left,
        var(--bf-theme-primary) 0%,
        var(--bf-theme-primary) var(--played-tracker-percentage),
        #fff var(--played-tracker-percentage),
        white 100%
    );
    background: linear-gradient(
        to right,
        var(--bf-theme-primary) 0%,
        var(--bf-theme-primary) var(--played-tracker-percentage),
        #fff var(--played-tracker-percentage),
        white 100%
    );
}

.audio-plyer input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    background: var(--bf-theme-primary);
    position: absolute;
    left: calc(var(--played-tracker-percentage) - 7px);
}

.audio-plyer input[type='range']:focus::-webkit-slider-runnable-track {
    /*background: #367ebd;*/
}

.audio-plyer input[type='range']::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--bf-theme-primary)),
        color-stop(var(--bf-theme-primary)),
        color-stop(#fff),
        to(white)
    );
    background: -o-linear-gradient(
        left,
        var(--bf-theme-primary) 0%,
        var(--bf-theme-primary) var(--played-tracker-percentage),
        #fff var(--played-tracker-percentage),
        white 100%
    );
    background: linear-gradient(
        to right,
        var(--bf-theme-primary) 0%,
        var(--bf-theme-primary) var(--played-tracker-percentage),
        #fff var(--played-tracker-percentage),
        white 100%
    );
    border-radius: 12px;
}

.audio-plyer input[type='range']::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: var(--bf-theme-primary);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    border-radius: 10px;
    border: none;
}

.audio-plyer input[type='range']::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

.audio-plyer input[type='range']::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.audio-plyer input[type='range']::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.audio-plyer input[type='range']::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.audio-plyer input[type='range']:focus::-ms-fill-lower {
    background: #3071a9;
}

.audio-player input[type='range']:focus::-ms-fill-upper {
    background: #367ebd;
}
/* End of audio player style*/
.slider {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 4px;
}
.slider .time-indicator span {
    font-size: 12px;
    color: #fff;
    opacity: 0.7;
    margin: 0 6px;
}

.holder.now-playing .media-player-btns .player-btns .btn-primary {
    margin: 0 16px;
}

button.btn-icon.btn-lg {
    width: 64px;
    height: 64px;
    padding: 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.holder.now-playing .media-player-action-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.holder.now-playing .media-player-action-btns span {
    opacity: 0.5;
}

.whiteTheme,
.whiteTheme:hover,
.whiteTheme:focus {
    color: #fff !important;
}

@media (max-height: 600px) {
    .holder.now-playing .media-holder,
    .holder.now-playing .media-holder .media-inner img {
        max-height: 230px;
        max-width: 230px;
    }
    .btn.btn-icon, .holder.now-playing .media-player-info{
        padding: 4px 0;
    }
    .media-player-btns{
        padding: 8px 0;
    }
}

#countdownOverlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.2s;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

#countdownOverlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

#countdownOverlay .overlay-content h5,
#countdownOverlay .overlay-content button {
    font-size: 18px !important;
    color: white !important;
}

.overlay-content button {
    padding: 10px 15px;
}

#countdownOverlay.h30 {
    height: 30%;
}

.now-playing-backgroundImage {
    filter: blur(10px) brightness(0.4);
    position: absolute;
    background-size: cover !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
}

.glyphicon-option-horizontal {
    padding: 7px 10px !important;
}

.blured-image {
    filter: blur(5px);
    z-index: -1;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.plugin_blured_image span img {
    width: 100% !important;
}

.audio-actions-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.media-player-action-btns:focus-within ~ .media-player-btns {
    pointer-events: none;
}

.visibility-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

.item-from-playlist-indicator {
    z-index: 1;
    position: absolute;
    top: -12px;
    right: -12px;
}
