.customBackground {
    background-position: 50% 0%;
    background-size: initial;
    background-repeat: repeat;
    background-origin: initial;
    background-clip: initial;
    background-attachment: fixed;
    background-color: #010101;
}
.plugin-banner {
    overflow: hidden;
}
.owl-theme {
    position: relative;
    overflow: auto;
    max-height: inherit !important;
    min-height: 192px;
}

.owl-stage, .owl-stage-outer {
    overflow: auto;
    max-height: 380px;
    min-height: 192px;
}
.plugin-slide {
    position: relative;
    max-height: 380px;
    min-height: 192px;
}

.plugin-slide img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    max-height: 380px;
}

.owl-item {
    float: left;
    max-height: 380px;
    min-height: 192px;
    overflow: hidden;
}

.owl-dot {
    display: inline-block;
}

.owl-controls {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#scroll-infinite{
    overflow-y: auto;
    max-height: 580px;
}


html, body {
    margin: 0;
    padding: 0;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

.overlayPlayContainer{
    margin-left: -160px;
}

/*# sourceMappingURL=main.css.map */

/*Styles for slider*/
.playerMP{
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.playerMP div{
    width: 15%;
    float: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 36px;
}
.playerMP div:nth-child(2){
    width: 70%;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: #ffffff;
}
input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 2px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
