<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <img
                            ng-src="assets/images/{{DesignHome.mediaInfo.data.design.listLayout}}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.listLayouts"
                   class="layouticon border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'list')" data-number="{{$index + 1}}">
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <img
                            ng-src="assets/images/{{DesignHome.mediaInfo.data.design.itemLayout }}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.itemLayouts"
                   class="layouticon border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'item')" data-number="{{$index + 1}}">
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>

<hr>
<div id="background"></div>

<hr>
<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Media info page</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="radio radio-primary radio-inline">
            <input id="skipMediaPageOff" type="radio" name="skipMediaPageOff" checked="checked" ng-model="DesignHome.mediaInfo.data.design.skipMediaPage" ng-value="false">
            <label for="skipMediaPageOff">Show</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input id="skipMediaPage" type="radio" name="skipMediaPage" ng-model="DesignHome.mediaInfo.data.design.skipMediaPage" ng-value="true">
            <label for="skipMediaPage">Skip</label>
        </div>
        <p class="info margin-top-fifteen">Note: If the info page is skipped, the video URL will be prioritized.</p>
    </div>
</div>
