<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <img
                            ng-src="assets/images/{{DesignHome.mediaInfo.data.design.listLayout}}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.listLayouts"
                   class="layouticon border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'list')" data-number="{{$index + 1}}">
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <img
                            ng-src="assets/images/{{DesignHome.mediaInfo.data.design.itemLayout }}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.itemLayouts"
                   class="layouticon border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'item')" data-number="{{$index + 1}}">
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>

<hr>
<div id="background"></div>

<hr>
<div>
    <div class="setting-toggle">
    <p class="setting-label">
        Media info page
        <span class="customTooltipBox btn-primary">
        <span class="customTooltipText">
            If the info page is skipped, the video URL will be prioritized.
        </span>
        </span>
    </p>
    <div class="buttons">
        <button ng-class="{'active': !DesignHome.mediaInfo.data.design.skipMediaPage}" ng-click="DesignHome.changeSkipPage(false)">Show</button>
        <button class="toLeft" ng-class="{'active': DesignHome.mediaInfo.data.design.skipMediaPage}" ng-click="DesignHome.changeSkipPage(true)">Skip</button>
    </div>
    </div>
</div>