<div class="holder padding-zero text-overlay">
    <div class="media-center-plugin first-layout" id="backgroundImage">
        <div class="media-center-banner clearfix">
            <div ng-class="WidgetMedia.showVideo == false ? '' : 'video-container-background'"
                style="max-height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;"
                class="plugin-slider text-center">
                <div ng-class="WidgetMedia.showVideo == false ? '' : 'video-container-background'"
                    style="max-height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;" class="plugin-slide">

                    <div ng-if="!WidgetMedia.fullScreen && WidgetMedia.item.data.topImage && !WidgetMedia.item.imageLoaded && !WidgetMedia.showVideo && !(skipMediaPage && WidgetMedia.item.data.videoUrl)"
                         class="image-placeholder" ng-style="{'padding-top': ((9 / 16) * 100) + '%'}">
                        <div class="image-placeholder__dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <img ng-show="!WidgetMedia.fullScreen && WidgetMedia.item.imageLoaded"
                        ng-hide="WidgetMedia.showVideo || !WidgetMedia.item.data.topImage || ( skipMediaPage && WidgetMedia.item.data.videoUrl )"
                        load-image="16x9" style="max-height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;"
                        crop-width="1280" crop-height="720" crop-type="crop" title="{{WidgetMedia.item.data.title}} top image" aria-label="{{WidgetMedia.item.data.title}} top image"
                        data-final-src="{{WidgetMedia.item.data.topImage }}" image-item="WidgetMedia.item" alt="{{WidgetMedia.item.data.title}} top image"/>
                        <img ng-if="!WidgetMedia.item.data.topImage && !WidgetMedia.showVideo" aria-hidden="true" src="../../../styles/media/holder-16x9.png" style="width:100%;">
                    <div id="myVideo" ng-include="'templates/layouts/video-player.html'"></div>
                </div>
            </div>
        </div>
        <div class="item-main-header" ng-if="!WidgetMedia.fullScreen">
            <div class="text-left padded word-break">
                <h5 class="margin-top-zero word-break media-title">{{WidgetMedia.item.data.title}}
                    <svg data-ng-if="(WidgetMedia.item.data.hasDownloadedVideo || WidgetMedia.item.data.hasDownloadedAudio) && allowOfflineDownload && !WidgetMedia.isDownloading(WidgetMedia.item)" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                        <path d="M7.49996 0.916992C3.59704 0.916992 0.416626 4.09741 0.416626 8.00033C0.416626 11.9032 3.59704 15.0837 7.49996 15.0837C11.4029 15.0837 14.5833 11.9032 14.5833 8.00033C14.5833 4.09741 11.4029 0.916992 7.49996 0.916992ZM6.79163 6.58366V3.75033H8.20829V6.58366H10.3333L7.49996 9.41699L4.66663 6.58366H6.79163ZM11.0416 11.542H3.95829V10.1253H11.0416V11.542Z" fill="var(--bf-theme-success)"/>
                    </svg>
                    <span data-ng-if="WidgetMedia.isDownloading(WidgetMedia.item)" class="lds-ring-small"><div></div><div></div><div></div><div></div></span>
                </h5>
                <p class="margin-bottom-fifteen word-break media-summary">{{WidgetMedia.item.data.summary}}</p>

                <media-action-icons widget-media="WidgetMedia" on-icon-action="WidgetMedia.handleIconAction(actionId)" class="media-action-icons"></media-action-icons>
            </div>
        </div>
        <div class="padded padding-top-zero" ng-if="!WidgetMedia.fullScreen">
            <div class="item-actions">
                <div class="link-list">
                    <a class="media-action video" ng-click="WidgetMedia.toggleShowVideo(!WidgetMedia.showVideo);"
                        ng-if="WidgetMedia.item.data.videoUrl && !skipMediaPage">
                        <i ng-class="WidgetMedia.showVideo ? 'glyphicon glyphicon-info-sign':'glyphicon glyphicon-film'" class="btn btn-success" role="button" aria-label="{{WidgetMedia.showVideo ? 'Hide' : 'Show'}} {{WidgetMedia.item.data.title}} video button"></i>
                    </a>
                    <a class="media-action" ng-click="WidgetMedia.playAudio();"
                        ng-if="WidgetMedia.item.data.audioUrl && !skipMediaPage">
                        <i class="btn btn-success material-icons" role="button" aria-label="Show {{WidgetMedia.item.data.title}} audio button">headphones</i>
                    </a>
                </div>
            </div>
            <p class="wysiwyg" ng-if="WidgetMedia.item.data.body" ng-bind-html="WidgetMedia.item.data.body | safeHtml">
            </p>
        </div>
    </div>
</div>
