<div class="holder padding-zero text-overlay">
    <div class="media-center-plugin layout1">
        <div class="media-center-banner clearfix">
            <div ng-class="WidgetMedia.showVideo == false ? '' : 'video-container-background'"
                style="max-height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;"
                class="plugin-slider text-center">
                <div ng-class="WidgetMedia.showVideo == false ? '' : 'video-container-background'"
                    style="max-height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;" class="plugin-slide">
                    <!--ng-style="WidgetMedia.showVideo == false ? {'min-height': '192px'} : {}" style="width: 100% !important;max-height:192px !important"
                         -->
                    <img data-ng-hide="WidgetMedia.showVideo || !WidgetMedia.item.data.topImage || ( WidgetMedia.media.data.design.skipMediaPage && WidgetMedia.item.data.videoUrl )"
                        load-image="16x9" style="min-height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;"
                        crop-width="1280" crop-height="720" crop-type="crop"
                        data-final-src="{{WidgetMedia.item.data.topImage}}" />

                    <div ng-include="'templates/layouts/video-player.html'"></div>
                </div>
            </div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix ">
            <h4 class="margin-top-zero" style="font-size: 16px;">{{WidgetMedia.item.data.title}}</h4>
            <h5 class="margin-bottom-zero">{{WidgetMedia.item.data.summary}}</h5>
        </div>
        <div class="padded padding-top-zero">
            <div class="item-actions">
                <div class="link-list">
                    <a class="media-action" ng-click="WidgetMedia.playAudio();" ng-if="WidgetMedia.mediaType == 'AUDIO'">
                        <i class="btn btn-success glyphicon glyphicon-volume-up"></i>
                    </a>
                    <a class="media-action video" ng-click="WidgetMedia.toggleShowVideo();"
                        ng-if="WidgetMedia.mediaType == 'VIDEO'">
                        <i class="btn btn-success glyphicon glyphicon-play"></i>
                    </a>
                    <a ng-if="WidgetMedia.item.srcUrl && allowSource" ng-click="WidgetMedia.openLink(WidgetMedia.item.srcUrl)"
                        target="_blank">
                        <i class="glyphicon share glyphicon-screenshot"></i>
                    </a>
                </div>
                <div class="li-actions">
                    <i class="glyphicon glyphicon glyphicon-edit" ng-click="WidgetMedia.addNote()" ng-click=""
                        role="button"></i>
                    <i class="share glyphicon glyphicon-share-alt" ng-if="allowShare" ng-click="WidgetMedia.share($event)" role="button"></i>
                    <i class="glyphicon icon bookmark" style="font-family: 'Glyphicons Halflings' !important;"
                        ng-class="{ 'glyphicon-star-empty' : !WidgetMedia.item.data.bookmarked, 'glyphicon-star' : WidgetMedia.item.data.bookmarked }"
                        ng-click="WidgetMedia.bookmark($event)" role="button"></i>
                </div>
            </div>
            <!-- <hr class="small" ng-if="WidgetMedia.item.data.body"> -->
            <p ng-if="WidgetMedia.item.data.body" ng-bind-html="WidgetMedia.item.data.body | safeHtml"></p>


            <!--<div class="dynamic-links" ng-repeat="link in WidgetMedia.item.data.links">
                <p ng-click="WidgetMedia.executeAction(link)" >
                    <span ng-if="!link.iconUrl" class="icon icon-cog"></span>
                    <span ng-if="link.iconUrl" class="icon"><img load-image="1x1" crop-width="17" crop-height="17" crop-type="crop" data-final-src="{{link.iconUrl}}"/></span>
                    {{link.title}}
                </p>
            </div>-->
        </div>
    </div>
</div>