<div class="holder padding-zero">
    <div class="media-center-plugin layout1">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div class="plugin-slider text-center">
                <div class="plugin-slide" ng-if="WidgetMedia.item.data.topImage">
                    <!--<img src="http://www.placehold.it/1280x720.jpg">-->
                    <img ng-src="{{WidgetMedia.item.data.topImage | resizeImage : 342 : 200}}">
                </div>
            </div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix ">
            <h4 class="margin-top-zero">{{WidgetMedia.item.data.title}}</h4>
            <h5 class="margin-bottom-zero">{{WidgetMedia.item.data.summary}}</h5>
        </div>
        <div class="padded padding-top-zero">
            <hr class="small">
            <div class="link-list">
                <a class="text-primary">Listen</a>
                <a class="text-primary">Watch</a>
                <a class="text-primary">View Source</a>
                <a class="text-primary">Share</a>
            </div>
            <hr class="small">
            <p ng-if="WidgetMedia.item.data.body" ng-bind-html="WidgetMedia.item.data.body | safeHtml"></p>

            <div class="dynamic-links">
                <a class="d-link" ng-repeat="link in WidgetMedia.item.data.links">{{link.title}}</a>

                <!--<a class="d-link">Dynamic Link</a>
                <a class="d-link">Dynamic Link</a>
                <a class="d-link">Dynamic Link</a>
                <a class="d-link">Dynamic Link</a>-->
            </div>
        </div>
    </div>
</div>
