<div class="holder padding-zero text-overlay">
    <div class="media-center-plugin second-layout" id="backgroundImage">
        <div class="people-banner">
            <div class="people-bg clearfix">
                <div class="people-holder clearfix">
                    <div class="people-media text-center">
                        <div ng-if="!WidgetMedia.fullScreen" class="people-banner" ng-hide="WidgetMedia.showVideo"
                        style="background:url('{{WidgetMedia.item.data.topImage ? resizeImg(WidgetMedia.item.data.topImage) : WidgetMedia.emptyBG}}') no-repeat; background-position:center center; background-size:cover !important;height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;">
                            <div class="people-bg padding-bottom-fifteen clearfix" style="height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;">
                                <div class="people-holder clearfix">
                                    <div class="people-media text-center padding-top-fifteen"
                                         ng-hide="WidgetMedia.showVideo">
                                        <img ng-if="WidgetMedia.item.data.topImage" ng-hide="skipMediaPage && WidgetMedia.item.data.videoUrl" load-image="16x9" style="width: 161px;height: 91px;"
                                             crop-width="161" crop-height="91" crop-type="crop"
                                             data-final-src="{{WidgetMedia.item.data.topImage}}" alt="{{WidgetMedia.item.data.title}} top image">
                                        <img ng-if="!WidgetMedia.item.data.topImage" style="width: 161px;height: 91px;"
                                             crop-width="161" crop-height="91" crop-type="crop"
                                             src="../../../styles/media/holder-16x9.png" alt="top image">
                                    </div>
                                    <div class="people-info text-center col-xs-12">
                                        <h5 class="ellipsis margin-top-fifteen whiteTheme" style="font-size: 16px;">
                                            {{WidgetMedia.item.data.title}}</h5>
                                            <h5 data-ng-if="WidgetMedia.item.data.hasDownloadedVideo" class="margin-bottom-zero whiteTheme">Downloaded</h5>
                                        <h5 class="margin-bottom-zero whiteTheme">
                                            {{WidgetMedia.item.data.summary}}</h5>
                                        <span ng-if="showViewCount" style="display:flex; justify-content: center; align-items:center">
                                            <i id="iconViewg" class="glyphicon glyphicon-eye-open" style="margin-right: 5px;"></i>
                                            <p class="ellipsis margin-zero" id="viewsg">{{WidgetMedia.count ? WidgetMedia.count : 0}} </p>
                                        </span>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="myVideo" ng-include="'templates/layouts/video-player.html'"></div>
                    </div>
                </div>
            </div>
            <div class="padded" ng-if="!WidgetMedia.fullScreen">
                <div class="item-actions">
                    <div class="link-list">
                        <a class="media-action video" ng-click="WidgetMedia.toggleShowVideo();"
                            ng-if="WidgetMedia.item.data.videoUrl && !skipMediaPage">
                            <i ng-class="WidgetMedia.showVideo ? 'glyphicon glyphicon-info-sign':'glyphicon glyphicon-film'" class="btn btn-success"></i>
                        </a>
                        <a class="media-action" ng-click="WidgetMedia.playAudio();" ng-if="WidgetMedia.item.data.audioUrl && !skipMediaPage">
                            <i class="btn btn-success glyphicon glyphicon-volume-up"></i>
                        </a>
                        <a ng-if="(WidgetMedia.item.data.srcUrl || WidgetMedia.item.data.audioUrl || WidgetMedia.item.data.videoUrl) && allowSource && online" ng-click="WidgetMedia.openLink(WidgetMedia.item)"
                            target="_blank">
                            <i class="glyphicon share glyphicon-screenshot"></i>
                        </a>
                    </div>
                    <div class="li-actions">
                        <div style="float: none; display: inline-block;" data-ng-if="WidgetMedia.isDownloading(WidgetMedia.item)" class="lds-ring-small"><div></div><div></div><div></div><div></div></div>
                        <i class="glyphicon icon bookmark" style="font-family: 'Glyphicons Halflings' !important;"
                        ng-class="{ 'glyphicon-star-empty' : !WidgetMedia.item.data.bookmarked, 'glyphicon-star' : WidgetMedia.item.data.bookmarked }"
                        ng-click="WidgetMedia.bookmark($event)" role="button"></i>
                        <i class="glyphicon glyphicon-option-horizontal" ng-click="WidgetMedia.showDrawer()" role="button"></i>
                    </div>
                </div>
                <p class="wysiwyg" ng-if="WidgetMedia.item.data.body" ng-bind-html="WidgetMedia.item.data.body | safeHtml"></p>
            </div>
        </div>
    </div>
</div>
<script>
    buildfire.appearance.getAppTheme((err, appTheme) => {
             if (err) return console.error(err);
             let viewsg = document.getElementById("viewsg")
             let iconViewg = document.getElementById("iconViewg")

             viewsg.style.color =  appTheme.colors.bodyText;
             iconViewg.style.color =  appTheme.colors.icons;

    });
</script>