<div class="holder padding-zero text-overlay">
    <div class="media-center-plugin layout2" id="backgroundImage">
        <div class="people-banner">
            <div class="people-bg clearfix">
                <div class="people-holder clearfix">
                    <div class="people-media text-center">
                        <div ng-if="!WidgetMedia.fullScreen" class="people-banner" data-ng-hide="WidgetMedia.showVideo"
                             style="background:url('{{WidgetMedia.item.data.topImage}}') no-repeat; background-position:center center; background-size:cover !important;height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;">
                            <div class="people-bg padding-bottom-fifteen clearfix" style="height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important;">
                                <div class="people-holder clearfix">
                                    <div class="people-media text-center padding-top-fifteen"
                                         data-ng-hide="WidgetMedia.showVideo">
                                        <img data-ng-hide="skipMediaPage && WidgetMedia.item.data.videoUrl" load-image="16x9" style="width: 161px;height: 91px;"
                                             crop-width="161" crop-height="91" crop-type="crop"
                                             data-final-src="{{WidgetMedia.item.data.topImage}}">
                                    </div>
                                    <div class="people-info text-center col-xs-12">
                                        <h5 class="ellipsis margin-top-fifteen whiteTheme" style="font-size: 16px;">
                                            {{WidgetMedia.item.data.title}}</h5>
                                        <h5 class="margin-bottom-zero whiteTheme">
                                            {{WidgetMedia.item.data.summary}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="myVideo" ng-include="'templates/layouts/video-player.html'"></div>
                    </div>
                </div>
            </div>
            <div class="padded" ng-if="!WidgetMedia.fullScreen">
                <div class="item-actions">
                    <div class="link-list">
                        <a class="media-action video" ng-click="WidgetMedia.toggleShowVideo();"
                            ng-if="WidgetMedia.item.data.videoUrl && !skipMediaPage">
                            <i class="btn btn-success glyphicon glyphicon-play"></i>
                        </a>
                        <a class="media-action" ng-click="WidgetMedia.playAudio();" ng-if="WidgetMedia.item.data.audioUrl && !skipMediaPage">
                            <i class="btn btn-success glyphicon glyphicon-volume-up"></i>
                        </a>
                        <a ng-if="WidgetMedia.item.srcUrl && allowSource" ng-click="WidgetMedia.openLink(WidgetMedia.item.srcUrl)"
                            target="_blank">
                            <i class="glyphicon share glyphicon-screenshot"></i>
                        </a>
                    </div>
                    <div class="li-actions">
                        <i class="glyphicon glyphicon glyphicon-edit" ng-click="WidgetMedia.addNote()" ng-click=""
                            role="button"></i>
                        <i class="share glyphicon glyphicon-share-alt" ng-if="allowShare" ng-click="WidgetMedia.share($event)" role="button"></i>
                        <i class="glyphicon icon bookmark" style="font-family: 'Glyphicons Halflings' !important;"
                            ng-class="{ 'glyphicon-star-empty' : !WidgetMedia.item.data.bookmarked, 'glyphicon-star' : WidgetMedia.item.data.bookmarked }"
                            ng-click="WidgetMedia.bookmark($event)" role="button"></i>
                            <i ng-if="WidgetMedia.item.data.links.length" class="glyphicon glyphicon-align-justify" ng-click="WidgetMedia.openLinks(WidgetMedia.item.data.links)" role="button"></i>
                            <i ng-if="globalPlaylist" class="glyphicon star" style="font-size: 17px;top: -3px;" ng-class="{ 'glyphicon-plus' : !isInGlobalPlaylist(WidgetMedia.item.id), 'glyphicon-minus' : isInGlobalPlaylist(WidgetMedia.item.id) }" ng-click="toggleGlobalPlaylistItem($event, WidgetMedia.item)" role="button"></i>
                    </div>
                </div>
                <p class="wysiwyg" ng-if="WidgetMedia.item.data.body" ng-bind-html="WidgetMedia.item.data.body | safeHtml"></p>
            </div>
        </div>
    </div>
</div>