<div class="holder padding-zero">
    <div class="media-center-plugin layout1">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div class="plugin-slider text-center" data-ng-if="WidgetHome.media.content.images.length">
                <div class="plugin-slide" data-ng-repeat="image in WidgetHome.media.content.images">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
            </div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix">
            <p>{{WidgetHome.media.content.description}}</p>
        </div>
        <div class="padded padding-top-zero">
            <div class="list-layout">
                <div class="row">
                    <div class="list-item col-xs-6 pull-left" ng-repeat="item in WidgetHome.items">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img err-src="http://www.placehold.it/240x160" ng-src="{{item.data.topImage | resizeImage:240:160}}">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">{{item.data.title}}</a></p>

                            <p class="summary ellipsis margin-zero">{{item.data.summary}}</p>
                            <span class="list-item-date">{{item.data.dateCreated  | jsDate | date:"MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
