<div class="holder padding-zero">
    <div class="media-center-plugin layout3 text-overlay">
        <div class="plugin-banner clearfix text-overlay">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div class="padded text-left text-overlay" ng-if="WidgetHome.showDescription()">
            <p class="margin-bottom-zero"
               ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml">
            </p>
        </div>
        <div infinite-scroll="WidgetHome.loadMore()"
             infinite-scroll-distance="1"
             data-infinite-container=".infinite-scroll-parent"
             infinite-scroll-disabled="WidgetHome.noMore">
            <div class="clickable text-overlay" ng-repeat="item in WidgetHome.items"
                 ng-click="WidgetHome.goToMedia($index)">
                <div class="plugin-banner clearfix text-overlay">
                    <div class="text-overlay" ng-if="item.data.topImage" play-btn="{{item.data.videoUrl.length > 0}}">
                        <img ng-src="{{item.data.topImage | cropImage:340:190}}">
                    </div>
                </div>
                <div class="padded text-left text-overlay">
                    <p class="text-primary ellipsis margin-zero">
                        <a class="text-primary">{{item.data.title}}</a>
                    </p>
                    <p class="margin-bottom-zero" style="font-size:13px;">{{item.data.summary}}</p>
                    <span class="list-item-date" data-ng-if="item.data.mediaDate" style="font-size:11px; font-style:italic; margin-top:-4px;">{{item.data.mediaDate  | jsDate | date:"MMMM dd, yyyy"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>