<div class="holder padding-zero">
    <div class="media-center-plugin layout1 text-overlay">
        <div class="plugin-banner clearfix">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix text-overlay" >
            <p ng-if="WidgetHome.showDescription()" ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml">
            </p>
        </div>
        <div class="padded padding-top-zero text-overlay">
            <div class="list-layout">
                <div class="row" infinite-scroll="WidgetHome.loadMore()"
                     infinite-scroll-distance="1"
                     data-infinite-container=".infinite-scroll-parent"
                     infinite-scroll-disabled="WidgetHome.noMore"
                        >
                    <div class="clickable col-xs-6 pull-left text-overlay" ng-repeat="item in WidgetHome.items"
                         ng-click="WidgetHome.goToMedia($index)" ng-class-odd="list-item-odd"
                         ng-class-even="list-item-even">
                        <div class="list-item-media text-center border-radius-three overflow-hidden text-overlay">
                            <div play-btn="{{item.data.videoUrl.length > 0}}" class="list-media-holder text-overlay">
                                <img ng-if="item.data.topImage" ng-src="{{item.data.topImage | cropImage:240:135}}">
                                <img ng-if="!item.data.topImage" src="assets/images/placeholder16x9.png">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero text-primary"><a class="text-primary">{{item.data.title}}</a>
                            </p>

                            <p class="summary ellipsis margin-zero">{{item.data.summary}}</p>
                            <span class="list-item-date" data-ng-if="item.data.mediaDate">{{item.data.mediaDate  | jsDate | date:"MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
