<script>
    buildfire.appearance.getAppTheme((err, appTheme) => {
             if (err) return console.error(err);
             let views = document.getElementById("views")
             let views2 = document.getElementById("views2")

             let iconView = document.getElementById("iconView")
             let iconView2 = document.getElementById("iconView2")

             let summary = document.getElementById("summary");
             summary.style.color =  appTheme.colors.bodyText;

             views.style.color =  appTheme.colors.bodyText;
             views2.style.color =  appTheme.colors.bodyText;

             iconView.style.color =  appTheme.colors.icons;
             iconView2.style.color =  appTheme.colors.icons;


    });
</script>

<div class="holder padding-zero list-layout-4" ng-class="{'pb30': globalPlaylist}">
    <div class="media-center-plugin list-layout fourth-layout text-overlay">
        <div class="media-center-banner clearfix text-overlay">
            <div id="carousel" build-fire-carousel="" ng-init="WidgetHome.loadCarousel()"></div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix text-overlay wysiwyg">
            <p ng-if="WidgetHome.showDescription()"
                ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml"></p>
        </div>
        <div id="emptyContainer" class="padded"
            ng-if="!loadingData && !WidgetHome.items.length">
            <div ng-if="WidgetHome.media.data.content.enableFiltering"
                style="position: absolute;right:2em; top: 2em; cursor: pointer;"
                ng-click="WidgetHome.goToFilterScreen()">
                <div style=" position: relative;">
                    <i class="glyphicon glyphicon-filter filter-funnel" role="button" aria-label="Filter items" ng-if="showFeed"></i>
                    <div data-ng-if="WidgetHome.activeFilters" id="activeFilterIndicator"></div>
                </div>
            </div>
        </div>
        <div style="width: 100%; display: flex; flex-direction: row-reverse;"
            ng-if="!loadingData && WidgetHome.media.data.content.enableFiltering && WidgetHome.items && WidgetHome.items.length > 0">
            <div style="padding: 20px; padding-right: 30px; cursor: pointer;" ng-click="WidgetHome.goToFilterScreen()">
                <div style=" position: relative;">
                    <i class="glyphicon glyphicon-filter filter-funnel" role="button" aria-label="Filter items" ng-if="showFeed"></i>
                    <div data-ng-if="WidgetHome.activeFilters" id="activeFilterIndicator"></div>
                </div>
            </div>
        </div>
        <div class="padded padding-top-zero text-overlay">
            <div class="list-layout" infinite-scroll="WidgetHome.addMore()">
                <div ng-repeat="item in WidgetHome.items track by $index" ng-if="$index % 2 == 0" class="row text-overlay widget-home-items-container">
                    <div class="list-item-odd col-xs-6 pull-left clickable " ng-click="WidgetHome.goToMedia($index)">
                        <div class="list-item-media text-center overflow-hidden text-overlay">
                            <div class="li-actions-item">
                                <i class="glyphicon glyphicon-option-horizontal" style="right: 0;"
                                    ng-click="WidgetHome.showDrawer($event, WidgetHome.items[$index])"
                                    role="button" aria-label="{{WidgetHome.items[$index].data.title}} media item options" tabindex="0"></i>
                            </div>
                            <div class="list-media-holder text-overlay" aria-hidden="true"
                                play-btn="{{WidgetHome.items[$index].data.videoUrl.length > 0 || WidgetHome.items[$index].data.audioUrl.length > 0 }}">

                                <div ng-if="WidgetHome.items[$index].data.topImage && !WidgetHome.items[$index].imageLoaded" class="image-placeholder"
                                     ng-style="{'width': '200px', 'padding-top': '100%'}">
                                    <div class="image-placeholder__dots">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>

                                <img ng-show="WidgetHome.items[$index].data.topImage && WidgetHome.items[$index].imageLoaded"
                                     class="load-image-hidden"
                                     load-image="1x1" crop-width="200"
                                     crop-height="200" crop-type="crop" alt="{{WidgetHome.items[$index].data.title}}"
                                     image-item="WidgetHome.items[$index]"
                                     data-final-src="{{WidgetHome.items[$index].data.topImage}}"
                                     style="width: 200px;" tabindex="0" aria-hidden="true">

                                <img ng-if="!WidgetHome.items[$index].data.topImage"
                                    src="../../../styles/media/holder-1x1.png" alt="{{WidgetHome.items[$index].data.title}}" aria-hidden="true">
                            </div>
                        </div>
                        <div class="list-item-copy text-left text-overlay">
                            <div class="date-row">
                                <p class="text-primary margin-zero ellipsis title">
                                    <a
                                        class="ellipsis margin-zero text-primary ">{{WidgetHome.items[$index].data.title}}</a>
                                </p>
                                <svg data-ng-if="WidgetHome.items[$index].hasDownloadedMedia && WidgetHome.media.data.content.allowOfflineDownload"
                                    xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                                    <path d="M7.49996 0.916992C3.59704 0.916992 0.416626 4.09741 0.416626 8.00033C0.416626 11.9032 3.59704 15.0837 7.49996 15.0837C11.4029 15.0837 14.5833 11.9032 14.5833 8.00033C14.5833 4.09741 11.4029 0.916992 7.49996 0.916992ZM6.79163 6.58366V3.75033H8.20829V6.58366H10.3333L7.49996 9.41699L4.66663 6.58366H6.79163ZM11.0416 11.542H3.95829V10.1253H11.0416V11.542Z"
                                        fill="var(--bf-theme-success)"/>
                                </svg>
                                <!-- <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index + 1].id) > -1" role="button" class="loader"> -->
                                <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index].id) > -1"
                                    class="lds-ring-small">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <p id="summary" class="summary ellipsis margin-zero">{{WidgetHome.items[$index].data.summary}}</p>
                            <p ng-if="WidgetHome.media.data.content.showViewCount" id="views" class="ellipsis margin-zero" role="text" tabindex="0" aria-label="{{WidgetHome.items[$index].data.title}} view count {{WidgetHome.items[$index].data.count ? WidgetHome.items[$index].data.count : 0}}">{{WidgetHome.items[$index].data.count}}
                                <span id="iconView" style="float: left;margin-right: 5px;" aria-hidden="true">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                            </p>
                            <div class="date-container">
                                <span class="list-item-date"
                                    data-ng-if="WidgetHome.items[$index].data.mediaDate">{{WidgetHome.items[$index].data.mediaDate
                                    | jsDate | date:"MMMM dd, yyyy"}}</span>
                                    <svg ng-if="WidgetHome.items[$index].data.opened && WidgetHome.media.data.content.indicatePlayedItems" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <g clip-path="url(#clip0_1115_4307)">
                                            <path d="M0 0H18V18H0V0Z" fill="transparent" fill-opacity="0.6"/>
                                            <path d="M6.75005 12.1502L3.60005 9.00019L2.55005 10.0502L6.75005 14.2502L15.75 5.2502L14.7 4.2002L6.75005 12.1502Z" fill="var(--bf-theme-success)"/>
                                        </g>
                                    </svg>
                            </div>
                        </div>
                    </div>
                    <div class="list-item-even col-xs-6 pull-left clickable text-overlay "
                        ng-click="WidgetHome.goToMedia($index+1)" ng-if="WidgetHome.items[$index + 1]">
                        <div class="list-item-media text-center overflow-hidden text-overlay">
                            <div class="li-actions-item">
                                <i style="right: 0;" class="glyphicon glyphicon-option-horizontal"
                                    ng-click="WidgetHome.showDrawer($event, WidgetHome.items[$index + 1])"
                                    role="button" aria-label="{{WidgetHome.items[$index+1].data.title}} media item options" tabindex="0"></i>

                            </div>
                            <div class="list-media-holder text-overlay" aria-hidden="true"
                                play-btn="{{WidgetHome.items[$index+1].data.videoUrl.length > 0 || WidgetHome.items[$index+1].data.audioUrl.length > 0 }}">
                                <div ng-if="WidgetHome.items[$index + 1].data.topImage && !WidgetHome.items[$index + 1].imageLoaded" class="image-placeholder" ng-style="{'width': '200px', 'padding-top': '100%'}">
                                    <div class="image-placeholder__dots">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <img ng-show="WidgetHome.items[$index + 1].data.topImage && WidgetHome.items[$index + 1].imageLoaded"
                                     class="load-image-hidden"
                                     load-image="1x1"
                                     crop-width="200" crop-height="200" crop-type="crop" aria-hidden="true"
                                     image-item="WidgetHome.items[$index + 1]"
                                     data-final-src="{{WidgetHome.items[$index + 1].data.topImage}}"
                                     style="width: 200px;" tabindex="0" alt="{{WidgetHome.items[$index + 1].data.title}}">

                                <img ng-if="!WidgetHome.items[$index + 1].data.topImage"
                                    src="../../../styles/media/holder-1x1.png" aria-hidden="true">
                            </div>
                        </div>
                        <div class="list-item-copy text-left text-overlay">
                            <div class="date-row">
                                <p class="text-primary margin-zero ellipsis title">
                                    <a class="ellipsis margin-zero text-primary ">{{WidgetHome.items[$index +
                                        1].data.title}}</a>
                                </p>
                                <svg data-ng-if="WidgetHome.items[$index + 1].hasDownloadedMedia && WidgetHome.media.data.content.allowOfflineDownload"
                                    xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                                    <path d="M7.49996 0.916992C3.59704 0.916992 0.416626 4.09741 0.416626 8.00033C0.416626 11.9032 3.59704 15.0837 7.49996 15.0837C11.4029 15.0837 14.5833 11.9032 14.5833 8.00033C14.5833 4.09741 11.4029 0.916992 7.49996 0.916992ZM6.79163 6.58366V3.75033H8.20829V6.58366H10.3333L7.49996 9.41699L4.66663 6.58366H6.79163ZM11.0416 11.542H3.95829V10.1253H11.0416V11.542Z"
                                        fill="var(--bf-theme-success)"/>
                                </svg>
                                <!-- <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index + 1].id) > -1" role="button" class="loader"> -->
                                <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index + 1].id) > -1"
                                    class="lds-ring-small">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <p class="summary ellipsis margin-zero">{{WidgetHome.items[$index + 1].data.summary}}</p>
                            <p ng-if="WidgetHome.media.data.content.showViewCount" id="views2" class="ellipsis margin-zero"
                                role="text" tabindex="0" aria-label="{{WidgetHome.items[$index + 1].data.title}} view count {{WidgetHome.items[$index + 1].data.count ? WidgetHome.items[$index + 1].data.count : 0}}">
                                {{WidgetHome.items[$index + 1].data.count}}
                                <span id="iconView2" style="float: left;margin-right: 5px;" aria-hidden="true">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                            </p>
                            <div class="date-container">
                                <span class="list-item-date"
                                    data-ng-if="WidgetHome.items[$index + 1].data.mediaDate">{{WidgetHome.items[$index +
                                    1].data.mediaDate | jsDate | date:"MMMM dd, yyyy"}}</span>
                                <svg ng-if="WidgetHome.items[$index + 1].data.opened && WidgetHome.media.data.content.indicatePlayedItems" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <g clip-path="url(#clip0_1115_4307)">
                                        <path d="M0 0H18V18H0V0Z" fill="transparent" fill-opacity="0.6"/>
                                        <path d="M6.75005 12.1502L3.60005 9.00019L2.55005 10.0502L6.75005 14.2502L15.75 5.2502L14.7 4.2002L6.75005 12.1502Z" fill="var(--bf-theme-success)"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
