<div class="holder padding-zero">
    <div class="media-center-plugin layout3">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div class="plugin-slider text-center">
                <div class="plugin-slide" ng-repeat="item in WidgetHome.items">
                    <img ng-src="{{item.data.topImage | resizeImage:240:160}}" err-src="http://www.placehold.it/1280x720.jpg">
                </div>
            </div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix">
            <p>This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG
                Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the
                WYSIWYG Editor.</p>
        </div>
        <div class="">
            <div class="list-layout">
                <div class="list-item" ng-repeat="item in WidgetHome.items">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="list-media-holder pull-left play-btn">
                            <img src="http://www.placehold.it/120x70">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <p class="ellipsis margin-zero"><a class="text-primary">{{item.data.title}}</a></p>

                            <p class="summary ellipsis margin-zero">{{item.data.summary}}</p>
                            <span class="list-item-date">{{item.data.dateCreated  | jsDate | date:"MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
