<script>
    buildfire.appearance.getAppTheme((err, appTheme) => {
             if (err) return console.error(err);
             let views = document.getElementById("views")
             let views2 = document.getElementById("views2")

             let iconView = document.getElementById("iconView")
             let iconView2 = document.getElementById("iconView2")

             let summary = document.getElementById("summary");
             summary.style.color =  appTheme.colors.bodyText;

             views.style.color =  appTheme.colors.bodyText;
             views2.style.color =  appTheme.colors.bodyText;

             iconView.style.color =  appTheme.colors.icons;
             iconView2.style.color =  appTheme.colors.icons;


    });
</script>

<div class="holder padding-zero list-layout-4" ng-class="{'pb30': globalPlaylist}">
    <div class="media-center-plugin list-layout fourth-layout text-overlay">
        <div class="media-center-banner clearfix text-overlay">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix text-overlay wysiwyg">
            <p ng-if="WidgetHome.showDescription()"
                ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml"></p>
        </div>
        <div id="emptyContainer" class="padded"
            ng-if="!loadingData && !WidgetHome.items.length">
            <div ng-if="WidgetHome.media.data.content.enableFiltering"
                style="position: absolute;right:2em; top: 2em; cursor: pointer;"
                ng-click="WidgetHome.goToFilterScreen()">
                <div style=" position: relative;">
                    <i class="glyphicon glyphicon-filter filter-funnel"></i>
                    <div data-ng-if="WidgetHome.activeFilters" id="activeFilterIndicator"></div>
                </div>
            </div>
        </div>
        <div style="width: 100%; display: flex; flex-direction: row-reverse;"
            ng-if="!loadingData && WidgetHome.media.data.content.enableFiltering && WidgetHome.items && WidgetHome.items.length > 0">
            <div style="padding: 20px; padding-right: 30px; cursor: pointer;" ng-click="WidgetHome.goToFilterScreen()">
                <div style=" position: relative;">
                    <i class="glyphicon glyphicon-filter filter-funnel"></i>
                    <div data-ng-if="WidgetHome.activeFilters" id="activeFilterIndicator"></div>
                </div>
            </div>
        </div>
        <div class="padded padding-top-zero text-overlay">
            <div class="list-layout" infinite-scroll="WidgetHome.addMore()">
                <div ng-repeat="item in WidgetHome.items track by $index" ng-if="$index % 2 == 0" class="row text-overlay">
                    <div class="list-item-odd col-xs-6 pull-left clickable " ng-click="WidgetHome.goToMedia($index)">
                        <div class="list-item-media text-center overflow-hidden text-overlay">
                            <div class="li-actions-item">
                                <i class="glyphicon glyphicon-option-horizontal" style="right: 0;"
                                    ng-click="WidgetHome.showDrawer($event, WidgetHome.items[$index])"
                                    role="button"></i>
                            </div>
                            <div class="list-media-holder text-overlay"
                                play-btn="{{WidgetHome.items[$index].data.videoUrl.length > 0  || (skipMediaPage && (WidgetHome.items[$index].data.videoUrl.length > 0 || WidgetHome.items[$index].data.audioUrl.length > 0)) }}">
                                <img ng-if="WidgetHome.items[$index].data.topImage" load-image="1x1" crop-width="200"
                                    crop-height="200" crop-type="crop"
                                    data-final-src="{{WidgetHome.items[$index].data.topImage | resizeImage : 200:200}}">
                                <img ng-if="!WidgetHome.items[$index].data.topImage"
                                    src="../../../styles/media/holder-1x1.png">
                            </div>
                        </div>
                        <div class="list-item-copy text-left text-overlay">
                            <div class="date-row">
                                <p class="text-primary margin-zero ellipsis title">
                                    <a
                                        class="ellipsis margin-zero text-primary ">{{WidgetHome.items[$index].data.title}}</a>
                                </p>
                                <i data-ng-if="WidgetHome.items[$index].hasDownloadedMedia && WidgetHome.media.data.content.allowOfflineDownload"
                                    style="margin-left: auto; margin-top: 2px;" class="glyphicon glyphicon-ok-circle"
                                    role="button"></i>
                                <!-- <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index + 1].id) > -1" role="button" class="loader"> -->
                                <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index].id) > -1"
                                    class="lds-ring-small">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <p id="summary" class="summary ellipsis margin-zero">{{WidgetHome.items[$index].data.summary}}</p>
                            <p ng-if="WidgetHome.media.data.content.showViewCount" id="views" class="ellipsis margin-zero">{{WidgetHome.items[$index].data.count}} 
                                <span id="iconView" style="float: left;margin-right: 5px;">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                            </p>
                            <span class="list-item-date"
                                data-ng-if="WidgetHome.items[$index].data.mediaDate">{{WidgetHome.items[$index].data.mediaDate
                                | jsDate | date:"MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                    <div class="list-item-even col-xs-6 pull-left clickable text-overlay "
                        ng-click="WidgetHome.goToMedia($index+1)" ng-if="WidgetHome.items[$index + 1]">
                        <div class="list-item-media text-center overflow-hidden text-overlay">
                            <div class="li-actions-item">
                                <i style="right: 0;" class="glyphicon glyphicon-option-horizontal"
                                    ng-click="WidgetHome.showDrawer($event, WidgetHome.items[$index + 1])"
                                    role="button"></i>

                            </div>
                            <div class="list-media-holder text-overlay"
                                play-btn="{{WidgetHome.items[$index+1].data.videoUrl.length > 0  || (skipMediaPage && (WidgetHome.items[$index+1].data.videoUrl.length > 0 || WidgetHome.items[$index+1].data.audioUrl.length > 0)) }}">
                                <img ng-if="WidgetHome.items[$index + 1].data.topImage" load-image="1x1"
                                    crop-width="200" crop-height="200" crop-type="crop"
                                    data-final-src="{{WidgetHome.items[$index + 1].data.topImage | resizeImage : 200:200}}">
                                <img ng-if="!WidgetHome.items[$index + 1].data.topImage"
                                    src="../../../styles/media/holder-1x1.png">
                            </div>
                        </div>
                        <div class="list-item-copy text-left text-overlay">
                            <div class="date-row">
                                <p class="text-primary margin-zero ellipsis title">
                                    <a class="ellipsis margin-zero text-primary ">{{WidgetHome.items[$index +
                                        1].data.title}}</a>
                                </p>
                                <i data-ng-if="WidgetHome.items[$index + 1].hasDownloadedMedia && WidgetHome.media.data.content.allowOfflineDownload"
                                    style="margin-left: auto; margin-top: 2px;" class="glyphicon glyphicon-ok-circle"
                                    role="button"></i>
                                <!-- <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index + 1].id) > -1" role="button" class="loader"> -->
                                <div data-ng-if="currentlyDownloading.indexOf(WidgetHome.items[$index + 1].id) > -1"
                                    class="lds-ring-small">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <p class="summary ellipsis margin-zero">{{WidgetHome.items[$index + 1].data.summary}}</p>
                            <p ng-if="WidgetHome.media.data.content.showViewCount" id="views2" class="ellipsis margin-zero">{{WidgetHome.items[$index + 1].data.count}} 
                                <span id="iconView2" style="float: left;margin-right: 5px;">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                            </p>
                            <span class="list-item-date"
                                data-ng-if="WidgetHome.items[$index + 1].data.mediaDate">{{WidgetHome.items[$index +
                                1].data.mediaDate | jsDate | date:"MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>