<div class="holder padding-zero">
    <div id="scroll-infinite" class="media-center-plugin layout3">
        <div class="plugin-banner clearfix border-bottom-grey">
            <buildfire-carousel images="WidgetHome.media.data.content.images"></buildfire-carousel>
        </div>
        <div class="padded text-left">
            <p class="margin-bottom-zero" ng-if="WidgetHome.media.data.content.descriptionHTML" ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml">{{WidgetHome.media.data.content.descriptionHTML}}</p>
        </div>
        <div infinite-scroll-distance="0"
             infinite-scroll="WidgetHome.loadMore()"
             infinite-scroll-disabled="WidgetHome.noMore"
             infinite-scroll-container='"#scroll-infinite"'>
            <div class="" ng-repeat="item in WidgetHome.items">
                <div class="plugin-banner clearfix">
                    <div class="" ng-if="item.data.topImage" play-btn="{{item.data.videoUrl.length > 0}}">
                        <img ng-src="{{item.data.topImage | cropImage:340:190}}">
                    </div>
                </div>
                <div class="padded text-left">
                    <a class="text-primary">{{item.data.title}}</a>
                    <p class="margin-bottom-zero">{{item.data.summary}}</p>
                    <span class="list-item-date" data-ng-if="item.data.dateCreated">{{item.data.dateCreated  | jsDate | date:"MMMM dd, yyyy"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>