<div class="holder padding-zero">
    <div class="media-center-plugin list-layout layout4">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div class="plugin-slider text-center">
                <div class="plugin-slide">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
                <div class="plugin-slide">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
                <div class="plugin-slide">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
            </div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix">
            <p>This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG
                Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the
                WYSIWYG Editor.</p</p>
        </div>
        <div class="padded padding-top-zero">
            <div class="list-layout">
                <div class="row">
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder play-btn">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero text-primary">This is a title</p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder play-btn">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder play-btn">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder play-btn">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img src="http://www.placehold.it/200x200">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>

                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
