<div class="holder padding-zero">
    <div id="scroll-infinite" class="media-center-plugin layout3 text-overlay">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix text-overlay">
            <p ng-if="WidgetHome.showDescription()"
               ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml">
            </p>
        </div>

        <div class="list-layout"
             infinite-scroll="WidgetHome.loadMore()"
             infinite-scroll-disabled="WidgetHome.noMore"
             infinite-scroll-container='"#scroll-infinite"'
             infinite-scroll-distance="0">
            <div class="clickable list-item text-overlay" ng-repeat="item in WidgetHome.items"
                 ng-click="WidgetHome.goToMedia($index)">
                <div class="list-item-media text-left overflow-hidden">
                    <div class="list-media-holder pull-left text-overlay" ng-if="item.data.topImage"
                         play-btn="{{item.data.videoUrl.length > 0}}">
                        <img ng-src="{{item.data.topImage | cropImage:110:60}}">
                    </div>
                    <div class="list-item-copy text-left padding-left-ten padding-right-ten text-overlay">
                        <p class="ellipsis margin-zero"><a class="text-primary">{{item.data.title}}</a></p>

                        <p class="summary ellipsis margin-zero">{{item.data.summary}}</p>
                        <span class="list-item-date" data-ng-if="item.data.mediaDate">{{item.data.mediaDate  | jsDate | date:"MMMM dd, yyyy"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>