<div class="holder padding-zero">
    <div id="scroll-infinite" class="media-center-plugin people-plugin layout1">
        <div class="media-center-banner  plugin-banner clearfix border-bottom-grey">
            <buildfire-carousel images="WidgetHome.media.data.content.images"></buildfire-carousel>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix">
            <p ng-if="WidgetHome.media.data.content.descriptionHTML"
               ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml">
                {{WidgetHome.media.data.content.descriptionHTML}}</p>
        </div>
        <div class="padded padding-top-zero">
            <div class="list-layout">
                <div class="row"
                     infinite-scroll-distance="0"
                     infinite-scroll="WidgetHome.loadMore()"
                     infinite-scroll-container='"#scroll-infinite"'
                     infinit-scroll-disabled="WidgetHome.noMore"
                      >
                    <div class="col-xs-6 pull-left" ng-repeat="item in WidgetHome.items" ng-class-odd="list-item-odd" ng-class-even="list-item-even" >
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div play-btn="{{item.data.videoUrl.length > 0}}" class="list-media-holder"
                                 ng-if="item.data.topImage">
                                <img ng-src="{{item.data.topImage | cropImage:153:86}}">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">{{item.data.title}}</a></p>

                            <p class="summary ellipsis margin-zero">{{item.data.summary}}</p>
                            <span class="list-item-date" data-ng-if="item.data.dateCreated">{{item.data.dateCreated  | jsDate | date:"MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
