<div class="holder now-playing text-center">
    <div class="blurred-image"></div>
    <div class="media-center-plugin">
        <div class="media-holder">
            <div class="media-inner text-center">
                <img class="border-radius-four"
                     src="http://4.bp.blogspot.com/-8bBgFCVGbpE/TvQU6q_f7qI/AAAAAAAAAEk/b2QtDIIbv4I/s1600/Tycho-Dive.png">
            </div>
        </div>
        <div class="slider margin-top-twenty">
            <div class="playerMP">
                <div>{{currentTime | number:2}}</div>
                <div><input id="slider" ng-show="duration" type="range" min="0" max="{{duration}}" ng-model="currentTime"/></div>
                <div>{{duration | number:2}}</div>
            </div>
            </div>
        <div class="media-player-info margin-top-twenty">
            <h4 class="margin-zero ellipsis">Keane</h4>

            <p class="margin-zero ellipsis">Under the Iron Sea</p>

            <p class="margin-zero">July 25, 2014</p>
        </div>
        <div class="media-player-btns margin-top-twenty">
            <span class="icon icon-backward-circle" ng-click=""></span>
            <span ng-if="(currentTime==duration) || !currentTime" class="icon icon-play-circle icon-main" ng-click="NowPlaying.pause()"></span>
            <span ng-if="currentTime!=duration" class="icon icon-pause-circle icon-main" ng-click="NowPlaying.playAudio()"></span>
            <span class="icon icon-forward-circle" ng-click=""></span>
        </div>
    </div>
</div>
