<div class="holder now-playing text-center audio-player">
    // need to refactor this.
    <div ng-style="NowPlaying.item.data.image? {'background':'url(' + NowPlaying.item.data.image + ') no-repeat center center' ,
          '-o-filter': 'blur(10px) brightness(0.2)',
    '-moz-filter': 'blur(10px) brightness(0.2)',
    '-webkit-filter': 'blur(10px) brightness(0.2)',
    'filter': 'blur(10px) brightness(0.2)',
    'position': 'absolute',
    'top': '-5%',
    'left': '-5%',
    '-o-background-size': 'cover',
    '-moz-background-size': 'cover',
    '-webkit-background-size': 'cover',
    'background-size': 'cover',
    'height': '110%',
    'width': '110%',
    'z-index': '0'
         }:{'background':'black'}"></div>
    <div class="media-center-plugin">
        <div class="media-header-link">
            <a ng-click="NowPlaying.add(NowPlaying.item.data.audioTitle,NowPlaying.item.data.audioUrl,NowPlaying.item.data.image,NowPlaying.item.data.artists)">Add
                to Playlist</a>
        </div>
        <div class="media-holder margin-top-fifteen">
            <div class="media-inner text-center">
                <img ng-if="NowPlaying.item.data.image" class="border-radius-two"
                     ng-src="{{NowPlaying.item.data.image | cropImage: 260 :260 }}" height="260px" width="260">
                <img ng-if="!NowPlaying.item.data.image" class="border-radius-two"
                     src="assets/images/now-playing.png" height="260px" width="260">
            </div>
        </div>
        <div class="media-player-info margin-top-fifteen">
            <h4 class="margin-zero ellipsis">{{NowPlaying.item.data.audioTitle}}</h4>

            <p class="margin-zero ellipsis">{{NowPlaying.item.data.artists}}</p>
        </div>
        <div class="slider margin-top-ten" style="margin-bottom: -70px;">
            <div class="playerMP">
                <div ng-if="NowPlaying.currentTime">{{NowPlaying.currentTime | secondsToDateTime | date:'mm:ss'}}</div>
                <div><input type="range" min="0" max="{{NowPlaying.duration}}"
                            ng-model="NowPlaying.currentTime"
                            ng-change="NowPlaying.changeTime(NowPlaying.currentTime)"
                            ng-style="NowPlaying.duration? {'visibility':'visible'}:{'visibility':'hidden'}"/></div>
                <div ng-if="NowPlaying.duration">{{NowPlaying.duration | secondsToDateTime | date:'mm:ss'}}</div>
            </div>
        </div>
        <div class="text-center margin-top-fifteen">
            <span class="icon icon-dots"></span>
        </div>
        <div class="media-player-action-btns margin-top-ten">
            &nbsp;<input class=""
                         ng-style="NowPlaying.showVolume? {'visibility':'visible'}:{'visibility':'hidden'}" type="range"
                         min="0" max="1" step="0.1" ng-model="NowPlaying.volume"
                         ng-change="NowPlaying.changeVolume(NowPlaying.volume)"
                         style="width:15%;visibility: visible;margin-top:40px;margin-left:80px"/>

            <span class="audio-player-icon icon icon-volume-high icon-sm"
                  ng-click="NowPlaying.showVolume=!NowPlaying.showVolume"></span>
            <span class="audio-player-icon icon icon-ellipsis icon-sm" ng-click="NowPlaying.openMoreInfoPopup()"></span>
            <!--<span class="icon icon-cog icon-sm" ng-click="NowPlaying.openSettingsPopup()"></span>-->
        </div>
        <a class="media-player-btns margin-top-ten">
            <!--<span class="icon icon-shuffle icon-sm" ng-click="NowPlaying.shuffle()"></span>-->
            <span class="audio-player-icon icon icon-backward-circle " ng-click="NowPlaying.backward()"></span>
            <span ng-if="!NowPlaying.playing" class="audio-player-icon icon icon-play-circle icon-main "
                  ng-click="NowPlaying.playAudio()"></span>
            <span ng-if="NowPlaying.playing" class="audio-player-icon icon icon-pause-circle icon-main "
                  ng-click="NowPlaying.pause()"></span>
            <!--<span class="icon icon-forward-circle" ng-click="NowPlaying.forward()"></span>-->
            <!--<span class="icon icon-repeat icon-sm" ng-click="NowPlaying.repeatTrack()"></span>-->
            <span class="icon icon-repeat-one icon-sm primaryTheme hidden"></span>
            <span class="icon icon-repeat icon-sm primaryTheme hidden"></span>
        </a>
    </div>
</div>
</div>