
    <div ng-style="{height: WidgetMedia.deviceHeight /3}" ng-show="WidgetMedia.showVideo" class="videogular-container">
      <img src="../../../styles/media/holder-16x9.gif"
           ng-if="WidgetMedia.loadingVideo">
        <videogular data-ng-hide="WidgetMedia.item.data.videoUrl | isYoutubeVimeoLink" vg-player-ready="WidgetMedia.onPlayerReady($API)"
                    vg-change-source="WidgetMedia.sourceChanged($source)"
                    vg-theme="WidgetMedia.videoPlayerConfig.theme.url"
                    vg-error="WidgetMedia.onVideoError($event)"
                    vg-can-play="WidgetMedia.videoLoaded()">
            <vg-media vg-src="WidgetMedia.videoPlayerConfig.sources"
                      vg-tracks="WidgetMedia.videoPlayerConfig.tracks"
                      vg-native-controls="false"
                      ng-show="!WidgetMedia.loadingVideo">
            </vg-media>
            <vg-controls vg-autohide="true" ng-show="!WidgetMedia.loadingVideo">
                <vg-play-pause-button ng-show="!WidgetMedia.loadingVideo"></vg-play-pause-button>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' | timeCorrect }}</vg-time-display>

                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <!--<vg-overlay-play></vg-overlay-play>-->
        </videogular>


        <embed-video data-ng-if="WidgetMedia.item.data.videoUrl | isYoutubeVimeoLink" data-ng-href="{{WidgetMedia.item.data.videoUrl}}" controls="0"></embed-video>
    </div>

<!--
    <script>
        var monitor = setInterval(function(){
            var elem = document.activeElement;

            if(elem && elem.tagName == 'IFRAME'){
                $("iframe.player").addClass('playing');
                var audioPlayer = window.buildfire.services.media.audioPlayer;
                audioPlayer.pause();
                clearInterval(monitor);
            }
        }, 100);
    </script>-->
