<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="holder padding-zero">
	<div class="media-center-plugin layout2">
		<div class="people-banner border-bottom-grey" style="background:url(http://www.placehold.it/400x400.jpg) no-repeat; background-position:center center; background-size:cover;">
			<div class="people-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="people-holder clearfix">	
					<div class="people-media play-btn text-center">
						<img src="http://www.placehold.it/250x400.jpg">
					</div>
					<div class="people-info text-center col-md-12">
						<h5 class="ellipsis margin-top-fifteen">This is an Item Title</h5>
						<h5 class="margin-bottom-zero">Manager of Finance Manager of Finance Manager of Finance Manager of Finance</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="padded">
			<div class="link-list">
				<a class="text-primary">View Source</a>
				<a class="text-primary">Share</a>
			</div>
			<hr class="small">
			<p>This is the WYSIWYG Editor.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="dynamic-links">
				<a class="d-link">Dynamic Link</a>
				<a class="d-link">Dynamic Link</a>
				<a class="d-link">Dynamic Link</a>
				<a class="d-link">Dynamic Link</a>
			</div>
		</div>
	</div>
</div>
</html>