<div id="emptyContainer" class="padded"
    ng-init="showNavbar()"
    ng-if="!loadingData && (!WidgetFilters.allCategories || (WidgetFilters.allCategories && WidgetFilters.allCategories.length === 0))">
</div>
<div id="filterScreen" ng-init="showNavbar()">
    <div id="filtersContainer">
        <div infinite-scroll="WidgetFilters.getMore()" infinite-scroll-distance="1"
            data-infinite-container="#filtersContainer" infinite-scroll-disabled="WidgetFilters.stopScroll">
            <div ng-if="WidgetFilters.allCategories && WidgetFilters.allCategories.length > 0">
                <div class="category-container" ng-repeat="category in WidgetFilters.allCategories">
                    <div class="top-row">
                        <div class="category-image-container">
                            <img class="categoryScreenIcon" crop-width="30" load-image="1x1" crop-height="30"
                                crop-type="crop" ng-if="category.data.icon && !WidgetFilters.isIcon(category.data.icon)"
                                data-final-src="{{category.data.icon }}">
                            <div ng-if="category.data.icon && WidgetFilters.isIcon(category.data.icon)"
                                ng-class="category.data.icon" class="cat-icon-widget">
                            </div>
                        </div>
                        <div class="category-name" style="margin-left: 15px;">
                            {{category.data.name}}
                        </div>
                        <div class="input-container">
                            <div class="box-item"  ng-click="WidgetFilters.pickCategory(category)">
                                <div class="checkbox checkbox-primary no-label" style="margin-top:3px;">
                                    <input type="checkbox" ng-checked="WidgetFilters.isCategoryPicked(category.id)"
                                        class="ng-pristine ng-untouched ng-valid">
                                </div>
                                <!-- <input type="checkbox" id="subcategory.id" name="subcategory.name" ng-click="WidgetFilters.pickSubcategory(category.id, subcategory.id)" value="subcategory.checked"> -->
                                <div class="checkbox checkbox-primary no-label" style="margin: 0; z-index: -1;">
                                    <input type="checkbox" id="{{category.id}}" ng-disabled="config.requireLogin"
                                        ng-checked="WidgetFilters.isCategoryPicked(category.id)"
                                        class="ng-pristine ng-untouched ng-valid" disabled="disabled">
                                    <label ng-class="WidgetFilters.getCategoryIconState(category)"
                                        class="subcategory-label" for="{{category.id}}"></label>
                                </div>
                            </div>
                            <span ng-click="WidgetFilters.expand($index)"
                                class="expand-collapse chevron top chev drop-control"></span>

                        </div>
                    </div>
                    <div id="{{ 'subcat-' + $index }}" class="subcategories-container">
                        <div class="subcategory" ng-repeat="subcategory in category.data.subcategories" ng-click="WidgetFilters.pickSubcategory(category.id, subcategory.id)">
                            <div
                                id="{{subcategory.id}}" class="subcategory-bubble"
                                ng-class="WidgetFilters.isSubcategoryPicked(category.id, subcategory.id) ? 'picked' : ''">
                                <span style="margin-right: 5px;" class="selected-subCat-icon"
                                    ng-if="WidgetFilters.isSubcategoryPicked(category.id, subcategory.id)"></span>
                                <p>{{subcategory.name}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <h2>{{category.data.name}}</h4>
            <div ng-repeat="subcategory in category.data.subcategories">
                <input type="checkbox" id="subcategory.id" name="subcategory.name" ng-click="WidgetFilters.pickSubcategory(category.id, subcategory.id)" value="subcategory.checked">
                <label for="subcategory.id">{{subcategory.name}}</label><br>
            </div> -->
                </div>

            </div>
        </div>
    </div>

    <div class="filters-footer">
        <button ng-click="WidgetFilters.applyFilters()" ng-class="WidgetFilters.hasFilters() ? '' : 'disabled'"
            class="btn btn-primary apply-button">{{WidgetFilters.filtersApplyButtonString}}</button>
    </div>
</div>
<script>
       // get app theme
       buildfire.appearance.getAppTheme((err, appTheme) => {
                if (err) return console.error(err);

                let categoryName= document.querySelector('.category-name');
                let subCategory= document.querySelector('.subcategory-bubble p');
                let categoryIcon= document.querySelector('.cat-icon-widget');
                let categoryArrow= document.querySelector('.expand-collapse');
                    
                document.documentElement.style.setProperty('--bodyText', appTheme.colors.bodyText);
                document.documentElement.style.setProperty('--primaryTheme', appTheme.colors.primaryTheme);
                
                // link category name color with app theme
                categoryName.style.setProperty('color', appTheme.colors.headerText);

                // link sub category text color with app theme
                subCategory.style.setProperty('color', appTheme.colors.bodyText);

                // link category icon color with app theme
                categoryIcon.style.setProperty('color', appTheme.colors.icons, 'important');
                categoryArrow.style.setProperty('color', appTheme.colors.icons, 'important');


 

       });
</script>