<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="holder padding-zero">
	<div class="media-center-plugin layout1">
		<div class="media-center-banner clearfix border-bottom-grey">
			<div class="plugin-slider text-center">
				<div class="plugin-slide">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
			</div>
		</div>
		<div class="text-left padded padding-bottom-zero clearfix ">
			<h4 class="margin-top-zero">This is an Item Title</h4>
			<h5 class="margin-bottom-zero">This is a summary. This is a summary. This is a summary. This is a summary.</h5>		
		</div>
		<div class="padded padding-top-zero">
			<hr class="small">
			<div class="link-list">
				<a class="text-primary">Listen</a>
				<a class="text-primary">Watch</a>
				<a class="text-primary">View Source</a>
				<a class="text-primary">Share</a>
			</div>
			<hr class="small">
			<p>This is the WYSIWYG Editor.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="dynamic-links">
				<a class="d-link">Dynamic Link</a>
				<a class="d-link">Dynamic Link</a>
				<a class="d-link">Dynamic Link</a>
				<a class="d-link">Dynamic Link</a>
			</div>
		</div>
	</div>
</div>
</html>