<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
    <!-- jQuery -->
	<script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>    

    <!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="holder now-playing text-center">
	<div class="blurred-image"></div>
	<div class="media-center-plugin">
		<div class="media-holder">
			<div class="media-inner text-center">
				<img class="border-radius-four" src="http://4.bp.blogspot.com/-8bBgFCVGbpE/TvQU6q_f7qI/AAAAAAAAAEk/b2QtDIIbv4I/s1600/Tycho-Dive.png">
			</div>
		</div>
		<div class="slider margin-top-twenty">
			Slide Placeholder
		</div>
		<div class="media-player-info margin-top-twenty">
			<h4 class="margin-zero ellipsis">Keane</h4>
			<p class="margin-zero ellipsis">Under the Iron Sea</p>
			<p class="margin-zero">July 25, 2014</p>
		</div>
		<div class="media-player-btns margin-top-twenty">
			<span class="icon icon-backward-circle"></span>
			<span class="icon icon-play-circle icon-main"></span>
			<span class="icon icon-forward-circle"></span>		
		</div>
	</div>
</div>
</html>