<div class="header clearfix border-bottom-grey">
    <h5 class="item-link-header text-center">More</h5>
</div>
<div class="modal-body">
    <div class="overlay" style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);">
        <div class="overlay-content" style="postiion:absolute; top:0; left:0; height:100%; width: 100%; overflow:auto;">
            <div class="media-player-more-info">
                <div class="media-holder margin-top-thirty">
                    <div class="media-inner text-center">
                        <img class="border-radius-two" src="http://4.bp.blogspot.com/-8bBgFCVGbpE/TvQU6q_f7qI/AAAAAAAAAEk/b2QtDIIbv4I/s1600/Tycho-Dive.png">
                    </div>
                </div>
                <hr class="none">
                <div class="media-player-info margin-top-twenty">
                    <h4 class="margin-zero ellipsis">Song or Track Title</h4>
                    <p class="margin-zero ellipsis">Artist or Album Title</p>
                </div>
                <hr class="none">
                <div class="more-info-list padded">
                    <div class="text-center item">
                        <a>Go to Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a>Add to Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a>Remove from Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a>Purchase</a>
                    </div>
                    <div class="text-center item">
                        <a>Share</a>
                    </div>
                    <div class="text-center item">
                        <a>Cancel</a>
                    </div>
                </div>
                <hr class="none">
            </div>
        </div>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-danger default-background-hover transition-third" ng-click="MoreInfoModal.cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-success default-background-hover transition-third"
           ng-click="MoreInfoModal.ok()">Ok</a>
    </div>
</div>
