<div class="header clearfix border-bottom-grey">
    <h5 class="item-link-header text-center">More</h5>
</div>
<div class="modal-body" style="margin-top: 488px;">
    <div class="overlay" style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);">
        <div class="overlay-content" style="postiion:absolute; top:0; left:0; height:100%; width: 100%; overflow:auto;">
            <div class="media-player-more-info">
                <div class="media-holder margin-top-ten">
                    <div class="media-inner text-center">
                        <img style="max-height:100%; width:auto;" ng-if="MoreInfoModal.info.data.image" class="border-radius-two"
                             ng-src="{{MoreInfoModal.info.data.image}}">
                    </div>
                </div>
                <div class="media-player-info margin-top-fifteen">
                    <h4 class="margin-zero ellipsis text-center">{{MoreInfoModal.info.data.artists}}</h4>

                    <p class="margin-zero ellipsis text-center">{{MoreInfoModal.info.data.audioTitle}}</p>
                </div>
                <div class="more-info-list padded padding-top-zero padding-bottom-zero">
                    <!--<div class="text-center item">
                        <a>Go to Playlist</a>
                    </div>-->
                    <div ng-if="MoreInfoModal.info.data.links.length" class="text-center item" ng-repeat="link in MoreInfoModal.info.data.links">
                        <a>{{link.title}}</a>
                    </div>
                    <div class="text-center item">
                        <a ng-click="MoreInfoModal.add(MoreInfoModal.info.data.audioTitle,MoreInfoModal.info.data.audioUrl,MoreInfoModal.info.data.image,MoreInfoModal.info.data.artists)">Add to Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a ng-click="MoreInfoModal.remove()">Remove from Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a>Purchase</a>
                    </div>
                    <div class="text-center item">
                        <a>Share</a>
                    </div>
                    <div class="text-center item">
                        <a ng-click="MoreInfoModal.cancel()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-danger default-background-hover transition-third" ng-click="MoreInfoModal.cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-success default-background-hover transition-third"
           ng-click="MoreInfoModal.ok()">Ok</a>
    </div>
</div>
