<div class="modal-contain">
    <div class="padded clearfix">
        <div class="content text-center">
            <p class="text-center blackTheme" style="font-weight:500;">{{RemoveTrackPopup.modalString.modalTitle}}</p>
            <p class="blackTheme margin-zero">{{RemoveTrackPopup.modalString.modalText}}</p>
        </div>
    </div>
    <div class="bottom border-top-grey clearfix">
        <div class="col-xs-6 pull-left text-center padding-zero">
            <a class="blackTheme default-background-hover transition-third" ng-click="RemoveTrackPopup.cancel()" style="display:block; padding:8px;">{{RemoveTrackPopup.modalString.cancelButton}}</a>
        </div>
        <div class="col-xs-6 pull-right text-center padding-zero border-left-grey">
            <a class="text-danger default-background-hover transition-third" ng-click="RemoveTrackPopup.ok()" style="display:block; padding:8px; text-decoration:none;">{{RemoveTrackPopup.modalString.removeButton}}</a>
        </div>
    </div>
</div>