<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Allow Sharing</span>
    </div>
    <div class="main col-md-9 pull-right">
    <input type="checkbox" name="allowShare" id="allowShare" ng-model="Settings.data.content.allowShare"
    ng-change="Settings.setSettings()">
    </div>
</div>
<br>
<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Show Source Icon</span>
    </div>
    <div class="main col-md-9 pull-right">
    <input type="checkbox" name="allowShare" id="allowShare" ng-model="Settings.data.content.allowSource"
    ng-change="Settings.setSettings()">
    </div>
</div>