<div class="header clearfix border-bottom-grey">
    <h5 class="item-link-header">Add Image</h5>
    <span class="icon icon-cross2 close-modal" onclick="alert('Close Modal');"></span>
</div>
<div class="modal-body">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Image</span>
        </div>
        <div class="main col-md-9 pull-right">
            <div class="screens clearfix">
                <div class="wideicon screen layouticon pull-left">
                    <a class="border-grey border-radius-three default-background-hover text-center"
                       ng-click="CarouselImage.selectImage()">
                        <span class="add-icon" ng-hide="CarouselImage.link.imageUrl">+</span>
                        <img ng-show="CarouselImage.link.imageUrl"
                             ng-src="{{CarouselImage.link.imageUrl | resizeImage : 120:80}}">
                    </a>
                    <span class="icon btn-icon btn-delete-icon btn-danger btn-close transition-third"
                          ng-show="CarouselImage.link.imageUrl" ng-click="CarouselImage.removeImage()"></span>
                </div>
            </div>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Link</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="CarouselImage.link.url"
                   placeholder="http://www.buildfire.com" aria-label="...">
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Open</span>
        </div>
        <div class="main col-md-9 pull-right">
            <div class="radio radio-primary radio-inline">
                <input id="openapp" type="radio" checked="" name="open" value="linkToApp"
                       ng-model="CarouselImage.link.action">
                <label for="openapp">In App</label>
            </div>
            <div class="radio radio-primary radio-inline">
                <input id="openbrowser" type="radio" name="open" value="linkToWeb"
                       ng-model="CarouselImage.link.action">
                <label for="openbrowser">In Native Browser</label>
            </div>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Title</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="CarouselImage.link.title" placeholder="">
        </div>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-danger default-background-hover transition-third" ng-click="CarouselImage.cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-success default-background-hover transition-third"
           ng-click="CarouselImage.link.imageUrl && CarouselImage.ok()"
           ng-class="{disabled : !CarouselImage.link.imageUrl}">Save</a>
    </div>
</div>
