<div class="header clearfix border-bottom-grey">
    <h5 class="item-link-header">Add Image DeepLink URL</h5>
	<span class="icon icon-cross2 close-modal" onclick="alert('Close Modal');"></span>
</div>
<div class="modal-body">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Link</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="AddImageLinkPopup.link" placeholder="">
        </div>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
	<div class="col-md-6 pull-left text-center">
		<a class="text-danger default-background-hover transition-third" ng-click="AddImageLinkPopup.cancel()">Cancel</a>
	</div>
	<div class="col-md-6 pull-right text-center border-left-grey">
		<a class="text-success default-background-hover transition-third" ng-disabled="!AddImageLinkPopup.link" ng-click="AddImageLinkPopup.ok(AddImageLinkPopup.link)">Save</a>
	</div>
</div>
