<div class="header clearfix border-bottom-grey">
    <h4 class="margin-zero">Import CSV File</h4>
    <span class="icon icon-cross2 close-modal" ng-click="ImportCSVPopup.cancel();"></span>
</div>
<div class="padded clearfix">
    <div class="content">
        <div class="item clearfix row" style="display: flex; justify-content: center; align-items: center;">
            <div class="labels col-md-2 padding-right-zero pull-left">
                <span>CSV File</span>
            </div>
            <div class="main col-md-10 pull-right" style="flex-grow: 1;display: flex; align-content: center; justify-content: center;">
                <div class="col-md-9 pull-left padding-zero" style="flex-grow: 1;">
                    <input type="file" id="fileInput" class="btn btn-primary" accept=".csv" file-reader result="ImportCSVPopup.fileData" style="display: none;"/>
                    <input type="text" class="form-control" readonly="true" ng-disabled="true" placeholder="{{ImportCSVPopup.fileData ? 'File Selected': 'No File Selected'}}">
                </div>
                <div class="col-md-3 pull-right padding-right-zero">
                    <a class="btn btn-primary stretch" ng-click="ImportCSVPopup.filePicker()">Select File</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="item clearfix row" style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 15px; margin: 0;">
        <div class="labels col-md-2 padding-right-zero pull-left" style="flex-grow: 1;"></div>
        <div class="main col-md-10 pull-right" style="padding: 0; padding-left: 60px;">
            <button class="btn btn-success col-md-3 pull-right  margin-left-fifteen" ng-click="ImportCSVPopup.ok()">Import</button>
            <button class="btn btn-outlined btn-secondary flex-left-auto col-md-3 pull-right" ng-click="ImportCSVPopup.cancel()">Cancel</button>
        </div>
    </div>
</div>