.btn.btn-primary-add {
  padding-left: 2.25rem;
  position: relative;
}

.btn.btn-primary-add::before,
.btn.btn-primary-add::after {
  content: "";
  width: 0.75rem;
  top: 50%;
  left: 1rem;
  display: inline-block;
  height: 1px;
  background-color: var(--c-primary);
  margin-right: 0.5rem;
  position: absolute;
}

.btn.btn-primary-add::after {
  transform: translateY(-50%) rotate(90deg);
}


.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.delay-dropdown-menu {
  width: calc(100% - 30px) !important;
}

.action-item-actions .btn.danger:hover {
  background-color: var(--c-gray1);
  color: var(--c-danger);
}

.action-item-actions .btn.primary:hover {
  background-color: var(--c-gray1);
  color: var(--c-primary);
}

.chat-instance-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: #DDDDDD;
  margin-right: 10px;
}

.action-item-actions .btn.btn--icon {
  font-size: 18px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  aspect-ratio: 1;
}

/* Start: Tooltip */
.tooltip-container {
  display: flex;
  align-items: center;
  margin-right: 13px !important;
  gap: 0.25rem;
}

.tooltip-container .btn-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  position: relative;
}

.tooltip-container .btn-info-icon:after {
  content: 'i';
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  left: 0;
  top: auto !important;
  height: 100%;
}

.tooltip-container .btn-info-icon .cp-tooltip {
  pointer-events: none;
  background-color: rgba(0, 0, 0, .80);
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  left: calc(100% + 12px);
  cursor: auto;
  font-size: 12px;
  text-align: left;
  width: 200px;
  opacity: 0;
  transform: scale(.1);
  transition: opacity ease .1s, transform ease .1s;
  transform-origin: left;
  z-index: 100;
  font-weight: 400;
  line-height: 18px;
  -webkit-text-stroke: 0;
}

.top-cp-tooltip {
  top: 0;
}

.bottom-cp-tooltip {
  bottom: 0;
}

.tooltip-container .btn-info-icon .cp-tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: rotate(90deg) translate(-50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .80) transparent transparent transparent;
}

.top-cp-tooltip::before {
  top: 10px !important;
}

.bottom-cp-tooltip::before {
  bottom: 0 !important;
  top: unset !important;
}

.tooltip-container .btn-info-icon:hover .cp-tooltip {
  opacity: 1;
  transform: scale(1);
}
/* End: Tooltip */

.modal .modal-dialog {
  border-radius: 15px !important;
  overflow: hidden !important;
}

.modal .modal-content .tag-search-dialog {
  display: flex;
  flex-direction: column;
}

.modal .modal-content .header.clearfix {
  background-color: unset;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.modal .modal-content .padded.clearfix {
  flex: 1;
}

button.btn.btn-success.pull-right.margin-left-fifteen.save-modal {
  background-color: var(--c-info);
}
button.btn.btn-success.pull-right.margin-left-fifteen.save-modal:hover {
  background-color: #333;
}
